{% extends "main.html" %} {% load static %} {% block content %}
<section class="inner-header divider layer-overlay overlay-dark-4" data-bg-img="{% static 'images/bg/about.jpg' %}">
    <div class="container pt-40 pb-20">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-white text-center" style="font-family: sans-serif; font-size: 38px;">
                        LUANAR | ABOUT STAFF
                    </h2>
                    <ol class="breadcrumb text-left mt-10 white">
                        <li><a href="{% url '' %}">LUANAR</a></li>
                        <li><a href="#">STAFF</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">

    <!-- content 
			================================================== -->
    <div id="content">

     
        <div class="blog-box blog-box-other with-one-col">
            <div class="container">
                <div class="row">

                    <div class="col-md-9 blog-side">
                           <!-- Page Banner -->
        <div class="page-bannerpt-20">
            <h2 class="text-theme-colored">{{staff.staff_name}}</h2>

        </div>
        <!-- blog-box Banner -->
                        <div style="text-align: justify;">

                            <div class="col-md-6" style="float: right; margin-left: 10px;"> 
                                
                                
                                <img src="{{staff.profile_pic.url}}" class="img-fluid img-responsive"
                                style=" width: 100%;" alt="" />

                                   
                                {% if not staff.profile_pic %}
                                <img src="/static/images/about/placeholderimage.jpg"  class="card-img-top img-fluid" style="width: 100%; height: 100%; vertical-align: auto;" alt="">
                                {% else %}
                               <img src="{{staff.profile_pic.url}}" class="card-img-top img-fluid" style="width: 100%;" alt="">
                                  {% endif %}

                                <div class="news-image-caption" style="font-size: 16px;"><strong>
                                    {{staff.staff_position}}:&nbsp;</strong>{{staff.staff_name}}</div>
                         
                              </div>

                            <div style="text-align: justify; font-size: 15px;">
                                {% autoescape off %}
                                <p style="text-align: justify; font-size: 16px;">{{staff.about_staff|linebreaks}}</p>
    
                                {% endautoescape %}
                            </div>
                          

                        </div>
                 <div class="col-md-12">
                    <h3 style="font-family: sans-serif;">Contacting the {{staff.staff_position}}</h3>
                    <table class="table" style="background-color: rgb(229, 231, 237); border-radius: 0 0 10px 10px; font-size: 16px;">
                        <tr>
                            <td class="col-md-3"><strong>Physical Address</strong></td>
                            <td>LUANAR Bunda Campus - Gateway Administration Block</td>
                        </tr>
                        <tr>
                            <td class="col-md-3"><strong>Postal Address</strong></td>
                            <td>P.O Box 219, Lilongwe, Malawi.</td>
                        </tr>
                        <tr>
                            <td class="col-md-3"><strong>Phone</strong></td>
                            <td>{{staff.staff_contacts}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-3"><strong>Email</strong></td>
                            <td><a href="mailto:{{staff.staff_email}}">{{staff.staff_email}}</a></td>
                        </tr>
                    </table>
                 </div>
                      
                    </div>

                    <div class="col-md-3 sidebar">
                        <div class="sidebar-widgets">
                                <h3 class="widget-title" style="font-family: sans-serif;">
                                    Quick <span class="text-theme-colored2">Links</span>
                                  </h3>
                                <ul class="nav nav-pills nav-stacked nav-sidebar" style="background-color: rgb(205, 218, 211);">
                                    <li>
                                      <a href="{% url 'office_of_vc' %}">Office of VC</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'office_of_dvc' %}" >Office of DVC</a>
                                      </li>
                                    <li>
                                      <a href="{% url 'office_of_doqa' %}">Quality Assurance</a>
                                    </li>
                                 
                                    <li>
                                      <a href="{% url 'feesandfunding' %}">Fees & Funding</a>
                                    </li>
                                    <li>
                                      <a href="{% url 'studentsgovernance' %}">Students Governance</a>
                                    </li>
                                    <li>
                                      <a href="{% url 'accommodation' %}" >Accommodation</a>
                                    </li>
                      
                                  </ul>
                                  <hr>
                                  <div class="tags-widget">
                                    <h4 style="font-family: sans-serif;">LUANAR's Virtual Campus</h4>
    
                                    <p>
                                        <div class="box-hover-effect about-video">
                                            <div class="effect-wrapper">
                                                <div class="thumb">
                                                    <img class="img-fullwidth" src="{% static 'images/about/bunda.jpg' %}" alt="project">
                                                </div>
                                                <div class="video-button"></div>
                                                <a class="hover-link" data-lightbox-gallery="youtube-video"
                                                    href="https://www.youtube.com/watch?v=c__G3qgDMBw&t=7s" title="Youtube Video">Youtube
                                                    Video</a>
                                            </div>
                    
                                        </div>
                                    </p>
                                </div>

                            <div class="tags-widget widget" style="text-align: justify;">
                               
                                <p>Lilongwe University of Agriculture and Natural Resources (LUANAR) is located in Lilongwe, the capital city of Malawi. Lilongwe is situated in the central region of the country, making it easily accessible from various parts of Malawi. 
                                </p>
                                <p>The university campus is typically found on the outskirts of the city, offering a serene environment conducive to academic pursuits.
                                </p>
                              
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- End content -->


</section>
{% endblock content %}