{% extends "main.html" %}
{% load static %}
{% block content %}
<section class="inner-header divider layer-overlay overlay-dark-4" data-bg-img="{% static 'images/bg/about.jpg' %}">
  <div class="container pt-120 pb-60">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-theme-colored2 text-center text-uppercase" style="font-family: sans-serif; font-size: 46px;">Research and Outreach</h2>
          <ol class="breadcrumb text-left mt-10 white">
            <li><a href=" url '' ">LUANAR</a></li>
            <li class="active">Research & Outreach</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-9 blog-pull-right">
        <div class="single-service" style="font-family: sans-serif; font-size: 15px; border-bottom:#2eb135 3px solid;">

          <img src="{% static 'images/about/front.jpg' %}" class="img-fluid img-responsive" style=" height: 350px; width: 100%; padding-bottom: 10px;" alt="" />
          <h3>
            The Directorate of Research and Outreach
          </h3>
          <p style="padding-top: 10px; text-align: justify;" >
            In keeping with LUANAR’s fundamental mission of conducting challenge-led research aimed at promoting a rich quality of life in Malawi and beyond, the Directorate of Research and Outreach is mandated to provide leadership in formulating and implementing relevant University policy and strategy. The Directorate oversees a variety of functional areas, including ensuring compliance with research governance, supporting researchers to access funding and advising on the contracting process, facilitating academic collaborations, industrial interactions and knowledge transfer. The Directorate is also responsible for developing research metrics and gathering data to facilitate the tracking of research and outreach activities
          </p>

          <h3>
            The Director of Research and Outreach | Associate Professor Samson Katengeza
          </h3>
          <p style="text-align: justify;">
            Dr. Samson P. Katengeza is the current Director of Research and Outreach and a Senior Lecturer with the Lilongwe University of Agriculture and Natural Resources (LUANAR), Malawi. He holds a BSc in Agriculture (Agricultural Economics) from the University of Malawi, an MSc in Agricultural and Applied Economics from Makerere University, and a PhD in Economics from the Norwegian University of Life Sciences. His specialties include food security and rural livelihood, agricultural marketing, assessment of uptake and impact heterogeneity of agricultural technologies, and agricultural commercialization. Dr. Katengeza’s research experience spans over twelve years and includes the design and implementation of interdisciplinary research projects in collaboration with local and international institutions.</p>
            <p>
                For more information, please send email to <a href="mailto:dro@luanar.ac.mw" style="color: #2eb135;">dro@luanar.ac.mw</a>.  
            </p>
        </div>
      </div>
 <div class="col-sm-12 col-md-3">
        <div class="sidebar sidebar-left mt-sm-30">
            
            <h3 class="widget-title line-bottom">
                Important <span class="text-theme-colored2">information</span>
            </h3>
            <ul class="nav nav-pills nav-stacked nav-sidebar" style="background-color: rgb(205, 218, 211); border-radius: 10px;">
              <li>
                <a href="{% url 'about' %}"
                  >About us</a >
              </li>
              <li>
                <a href="{% url 'howtoapply' %}"
                  >How to Apply</a >
              </li>
              <li>
                <a href="{% url 'immigration' %}"
                  >Immigration information</a >
              </li>
              <li>
                <a href="{% url 'feesandfunding' %}" 
                  >Fees & Funding</a >
              </li>
              <li>
                <a href="{% url 'campus_life' %}" 
                  >Campus Life</a >
              </li>
              <li>
                <a href="{% url 'accommodation' %}"
                  >Accommodation</a >
              </li>
             
            </ul>
          <div class="widget pt-20">

            <div class="c col-md-12">
              <div class="card mb-sm-30 bg-white pb-20 " style="border-bottom:#2eb135 5px solid;">
                <img src="{% static 'images/about/cr1.jpg' %}" class="card-img-top" style="padding-top: 15px;"
                  alt="...">
                <div class="card-body ">
                  <h5 class="card-title font-weight-700 font-18 mt-20">Admission</h5>
                  <p class="card-text">LUANAR is a dynamic and vibrant community of learning that brings together
                    administrators, academic staff and students from Malawi and abroad in an effort to provide sound...
                  </p>
                  <a href="{% url 'howtoapply' %}"
                    class="hvr-shutter-out-horizontal btn btn-sm btn-dark  btn-theme-colored btn-flat">READ MORE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
