{% extends "main.html" %}
{% load static %}

{% block content %}

<!-- Breadcrumbs Start -->
<section class="inner-header divider layer-overlay overlay-dark-4" data-bg-img="{% static 'images/campus_life/clubsandSocieties.jpg' %}">
    <div class="container pt-120 pb-60">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-white text-center font-36" style="font-family: sans-serif;">CAMPUS LIFE | CLUBS & SOCIETIES</h1>
            <ol class="breadcrumb text-left mt-10 white">
              <li><a href=" url '' ">LUANAR</a></li>
              <li><a href="{% url 'about' %}">CAMPUS LIFE</a></li>
              <li class="active">Clubs & Societies</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Breadcrumbs End -->

<div class="rs-history sec-spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mobile-mb-50 pl-30 pt-30">
         
                    <img src="{% static 'images/campus_life/clubsandSocietiesthumb.jpg' %}" alt="History Image"/>
           
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="abt-title">
                    <h2>CLUBS AND SOCIETIES</h2>
                </div>
                <div class="about-desc" style="text-align: justify; font-size: 16px;">
                    <p>At LUANAR there is a full range of clubs, societies and organizations. Clubs have been offering sporting 
                        opportunities for student cohort for many years. Membership is open to students, staff and alumni. 
                        Sporting clubs compete in local, regional, and international competitions; recreational clubs conduct 
                        adventure activities in unique and exciting environments; Clubs cater for the novice and the experienced,
                         and foster new friendships that can last a lifetime. They also organize social 
                        Clubs and Societies activities that you will talk about for years to come.</p>

                   
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding-top: 15px;">
            <p style="text-align: justify; font-size: 16px;">
                The association’s main objectives are to develop a sporting culture amongst students, to enhance sporting competition 
                among student members, to promote high standards of sporting achievements among members and to develop skills and values such as team work, co-operation, fair play, sharing, self-esteem, respect for rules, leadership, discipline, self-respect and confidence.
            </p>
        </div>
    </div>
</div>
<div id="rs-about" class="rs-about  pt-50">
  <div class="container">
      <div class="mb-50 text-center">    
        <h3 class="text-uppercase" style="color: #2eb135; font-weight: bolder; font-family: sans-serif;">Sports and Recreation</h3>
        <div class="line-bottom-centered"></div>
      </div>
      <div class="row" style="font-size: 16px;">
          <div class="col-lg-6 col-md-6">
              <p style="text-align: justify;">At LUANAR there is a full range of clubs, societies and organizations. Clubs have been offering sporting opportunities for student cohort for many years. Membership is open to students, staff and alumni. Sporting clubs compete in local, regional, and international competitions; recreational clubs conduct adventure activities in unique and exciting environments; Clubs cater for the novice and the experienced, and foster new friendships that can last a lifetime. They also organize social Clubs and Societies activities that you will talk about for years to come. The association’s main objectives are to develop a sporting culture amongst students, to enhance sporting competition among student members, to promote high standards of sporting achievements among members and to develop skills and values such as team work, co-operation, fair play, sharing, self-esteem, respect for rules, leadership, discipline, self-respect and confidence.
              </p>
          </div>
          <div class="col-lg-6 col-md-6">
        <img src="{% static 'images/campus_life/clubsandSocietiesthumb.jpg' %}" alt="" class="img-fluid" srcset="">
        </div>
      </div>
  </div>
</div>
<div id="rs-about" class="rs-about  pt-50">
    <div class="container">
        <div class="mb-50 text-center">    
          <h3 style="color: #2eb135; font-weight: bolder; font-family: sans-serif;">LIST OF SOCIETIES, CLUBS AND ORGANIZATIONS AT LUANAR</h3>
          <div class="line-bottom-centered"></div>
        </div>
        <div class="row" style="font-size: 16px;">
            <div class="col-lg-6 col-md-6">
                <ul >
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Fountain of Victory Ministry</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;University Students Association of Mangochi</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Assemblies of God</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Bunda CCAP Students Organization</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Bunda SDA Club</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;First Love Fellowship</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Bunda Society of Anglican Students</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Bunda Students Charity Club</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Bunda SCOM</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Aquaculture and Fisheries Organization</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Students for Rural Youth in Development</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Captured in Glory Ministry</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Bunda Environmental Club</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;United Christian Congregation</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Bunda Agribusiness Society</li>
                    
                </ul>
            </div>
            <div class="col-lg-6 col-md-6">
                <ul>
        
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Believers Gathering</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Bunda Agriculture Education Association</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Bunda Catholic Students Organization</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Gathering</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Pentecostal Holiness Association Students</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Christ Embassy (Bunda Believers Loveworld Ministry)</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Crop and Soil Science Club</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Winners Campus Fellowship</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;History Makers</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Bunda Agriculture Students Club</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Bunda Muslim Student Association</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Raised for a Purpose Ministry</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Forestry Club</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Church of Christ</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;Youth for Environment and Sustainable Development</li>
                   
                </ul>
          </div>
            
        </div>
        <hr>
    </div>
</div>
{% endblock content %}