{% extends "main.html" %}
{% load static %}

{% block content %}

<!-- Breadcrumbs Start -->
<section class="inner-header divider layer-overlay overlay-dark-4" data-bg-img="{% static 'images/campus_life/clubsandSocieties.jpg' %}">
    <div class="container pt-120 pb-60">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-white text-center font-36" style="font-family: sans-serif;">CAMPUS LIFE | SUPPORT SERVICES</h1>
            <ol class="breadcrumb text-left mt-10 white">
              <li><a href=" url '' ">LUANAR</a></li>
              <li><a href="{% url 'about' %}">CAMPUS LIFE</a></li>
              <li><a href="#">Support Services</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Breadcrumbs End -->
<div id="rs-about" class="rs-about  pt-50">
    <div class="container">
        <div class="mb-50 text-center">    
          <h3 class="text-uppercase" style="color: #2eb135; font-weight: bolder; font-family:  'Merriweather Sans', sans-serif;">University Clinics</h3>
          <div class="line-bottom-centered pt-0"></div>
        </div>
      
            <p style="text-align: justify; font-size: 16px; padding-bottom: 10px;">
              The University clinic caters to the health needs of its students, staff, and sometimes the surrounding community. We aim to provide your confidential service to support your physical and mental well-being Here are some common services that the university clinics offer:
            </p>
       
        <div class="row" style="font-size: 16px; ">
            <div class="col-lg-6 col-md-6">
                <div class="col-md-12" style="text-align: justify;">
                  <h3 style="font-family:  'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">Primary Healthcare</h3>
                  <p>The clinic provides primary healthcare services, including treatment for common illnesses, injuries, and routine health check-ups</p>
                </div>
    
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="col-md-12" style="text-align: justify;">
                 <h3 style="font-family:  'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">Emergency Services</h3>
                 <p>In case of medical emergencies on campus, the clinic offers emergency medical care and first aid before referring the patient to a larger medical facility if needed.</p>
                </div>
            
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="col-md-12" style="text-align: justify;">
             <h3 style="font-family:  'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">Reproductive Health Services</h3>
             <p>The clinic offers services related to reproductive health, including contraception, pregnancy testing, and counseling.</p>
              </div>
        
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="col-md-12" style="text-align: justify;">
         <h3 style="font-family:  'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">Health Education</h3>
         <p>
          The clinic conducts health education programs and workshops to promote healthy living and disease prevention among students and staff.
     
         </p>
          </div>
       </div>
       <div class="col-lg-6 col-md-6">
        <div class="col-md-12" style="text-align: justify;">
         <h3 style="font-family:  'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">Counselling Services</h3>
         <p>
          Mental health support services are provided to help students cope with stress, anxiety, depression, or other mental health issues.
         </p>
          </div>
       </div>
       <div class="col-lg-6 col-md-6">
        <div class="col-md-12" style="text-align: justify;">
         <h3 style="font-family:  'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">Immunization and Vaccinations</h3>
         <p>
          The clinic offers immunizations and vaccinations to ensure that students and staff are up to date on required vaccinations. 
        </p>
          </div>
       </div>
       <div class="col-lg-6 col-md-6">
        <div class="col-md-12" style="text-align: justify;">
         <h3 style="font-family:  'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">Chronic Disease Management</h3>
         <p>
          The clinic also assists with the management of chronic health conditions such as diabetes, hypertension, epilepsy, and asthma.
        </p>
          </div>
       </div>
       <div class="col-lg-6 col-md-6">
        <div class="col-md-12" style="text-align: justify;">
         <h3 style="font-family:  'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">Laboratory Services</h3>
         <p>
          Basic laboratory tests are conducted at the clinic for the diagnosis of common illnesses and conditions.   
        </p>
          </div>
       </div>
        </div>
    </div>
</div>
<div id="rs-about" class="rs-about  pt-20">
  <div class="container">
      <div class="mb-50 text-center">    
        <h3 class="text-uppercase" style="color: #2eb135; font-weight: bolder; font-family: sans-serif;">URGENT AND WALK-IN CARE</h3>
        <div class="line-bottom-centered"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <div class="about-text-container">
                <p style="text-align: justify">
                    Walk-in medical appointments are available for staff and students during regular hours. Walk-in visits are for urgent concerns and the clinician may only see you for one concern during the visit. If you have already been seen by a clinician in the clinic for your concern, please book an appointment for follow-up.<br><br>
                    Whether you are feeling unwell or it's time for a regular check-up, the physicians and nurses at the Health Centres are here to help and to answer any questions you have relating to your health. As a member of the LUANAR community, you are welcome to use the Health Centre as your primary health care facility for the duration of your time at the university.<br><br>We strive to provide comprehensive, patient-centered care by providing a wide range of professional, friendly, compassionate, and confidential services.<br><br>
                </p>
                &nbsp; &nbsp; <span style="color: #fff; background-color: #fff;"><a style="color: #fff; background-color: #fff;" href="https://www.virtusplayid.com/" target="_blank" rel="noopener">deposit pulsa tanpa potongan</a>

                
            </div>
        </div>
        <div class="col-md-6">
            <div class="skill-image">
                <img src="{% static 'images/campus_life/clinic.png' %}" alt=" Clinic Image">
            </div>
        </div>
    </div>
  </div>
</div>

<div id="rs-about" class="rs-about  pt-10 pb-10">
    <div class="container">
        <div class="mb-50 text-center">    
          <h3 class="text-uppercase" style="color: #2eb135; font-weight: bolder; font-family: sans-serif;">YOUR CARE TEAM</h3>
          <div class="line-bottom-centered"></div>
        </div>
        <div class="row" style="font-size: 16px;">
            <div class="col-lg-6 col-md-6">
                <p style="text-align: justify;">The Health center's healthcare team, which is made up of physicians, nurses, and administrative and support staff, is dedicated to providing the College communities with comprehensive, coordinated, and continuing care. The clinic refers patients to specialists or hospitals for further evaluation and treatment if needed, and provides follow-up care when necessary.  
                </p>
            </div>
            <div class="col-lg-6 col-md-6">
                <p style="text-align: justify;">All students need to register with the University Medical Scheme (UNIMED) while studying at LUANAR. Each student is encouraged to apply for a UNIMED card and forms are available at the campus clinic. The University clinic has also started accepting those who are on the MASM medical scheme.</p>
              
           </div>
            
        </div>
    </div>
  </div>
  <div id="rs-about" class="rs-about  pt-2 pb-20">
    <div class="container">
        <div class="mb-50 text-center">    
          <h3 class="text-uppercase" style="color: #2eb135; font-weight: bolder; font-family:  'Merriweather Sans', sans-serif;">House Keeping</h3>
          <div class="line-bottom-centered pt-0"></div>
        </div>
      
            <p style="text-align: justify; font-size: 16px; padding-bottom: 10px;">
              Housekeeping plays an important role in maintaining the cleanliness, hygiene, and overall organization of the university campus. Their responsibilities go beyond basic cleaning tasks and encompass a range of duties that contribute to the smooth functioning of the university environment.
            </p>
       
        <div class="row" style="font-size: 16px; ">
        
            <div class="col-lg-6 col-md-6">
                <div class="col-md-12" style="text-align: justify;">
                 <h3 style="font-family:  'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">Waste Management</h3>
                 <p>
                  Housekeepers manage waste disposal activities on campus, including collecting and disposing of garbage, recycling materials, and ensuring compliance with waste management regulations. They also maintain cleanliness in outdoor areas and manage litter collection.

                 </p>
                </div>
            
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="col-md-12" style="text-align: justify;">
             <h3 style="font-family:  'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">Room Setup and Maintenance</h3>
             <p>
              Housekeeping staff assist in setting up rooms for events, meetings, conferences, and other activities held on campus. They arrange furniture, equipment, and necessary supplies according to specific requirements and ensure that spaces are well-maintained during the events.
             </p>
              </div>
        
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="col-md-12" style="text-align: justify;">
         <h3 style="font-family:  'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">Compliance and Safety</h3>
         <p>
          Housekeepers ensure that cleaning activities are carried out in compliance with health and safety. They use appropriate cleaning products and equipment, follow safety protocols, and take necessary precautions to prevent accidents or hazards in the workplace.
         </p>
          </div>
       </div>
       <div class="col-lg-6 col-md-6">
        <div class="col-md-12" style="text-align: justify;">
          <h3 style="font-family:  'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">Cleaning and Sanitization</h3>
          <p>
            Housekeeping staff are responsible for cleaning classrooms, offices, common areas, restrooms, laboratories, and other facilities across the campus. They ensure that these spaces are regularly cleaned, sanitized, and maintained to provide a safe and healthy environment for students and staff.
          </p>
        </div>

    </div>
        </div>
    </div>
</div>
{% endblock content %}