{% extends "main.html" %}
{% load static %}

{% block content %}

<!-- Breadcrumbs Start -->
<section class="inner-header divider layer-overlay overlay-dark-4" data-bg-img="{% static 'images/campus_life/clubsandSocieties.jpg' %}">
    <div class="container pt-120 pb-60">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-white text-center font-36" style="font-family: sans-serif;">CAMPUS LIFE | SUPPORT SERVICES</h1>
            <ol class="breadcrumb text-left mt-10 white">
              <li><a href=" url '' ">LUANAR</a></li>
              <li><a href="{% url 'about' %}">CAMPUS LIFE</a></li>
              <li class="active">Support Services</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Breadcrumbs End -->
<div id="rs-about" class="rs-about  pt-50">
    <div class="container">
        <div class="mb-50 text-center">    
          <h3 class="text-uppercase" style="color: #2eb135; font-weight: bolder; font-family: sans-serif;">University Clinics</h3>
          <div class="line-bottom-centered"></div>
        </div>
      
            <p style="text-align: justify; font-size: 16px;">
                Welcome to the University Health Service. We aim to provide a confidential service to support your physical and mental wellbeing. On the University campuses, there are fully qualified and experienced medical staff available. We provide:
            </p>
       
        <div class="row" style="font-size: 16px;">
            <div class="col-lg-6 col-md-6">
                <div class="col-md-12">
                    <ul >
                        <li><i class="fa fa-arrow-right"></i>&nbsp; Advice and support concerning asthma, diabetes and epilepsy.</li>
                        <li><i class="fa fa-arrow-right"></i>&nbsp;Advice and treatment for examination stress.</li>
                        
                        <li><i class="fa fa-arrow-right"></i>&nbsp;Advice, counseling and support concerning contraception and pregnancy</li>
                       
                    </ul>


                </div>
    
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="col-md-12">
                    <ul>
        
                        <li><i class="fa fa-arrow-right"></i>&nbsp;Sexual Health information and referrals.</li>
                        <li><i class="fa fa-arrow-right"></i>&nbsp;Assessment and Treatment of minor injuries and ailment.</li>
                        <li><i class="fa fa-arrow-right"></i>&nbsp; HIV Testing and Counselling.</li>
                        
                        <li><i class="fa fa-arrow-right"></i>&nbsp; Information on Travel vaccination</li>
                      
                    </ul>

                </div>
            
          </div>
            
        </div>
    </div>
</div>
<div id="rs-about" class="rs-about  pt-50">
  <div class="container">
      <div class="mb-50 text-center">    
        <h3 class="text-uppercase" style="color: #2eb135; font-weight: bolder; font-family: sans-serif;">URGENT AND WALK-IN CARE</h3>
        <div class="line-bottom-centered"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <div class="about-text-container">
                <p style="text-align: justify">
                    Walk-in medical appointments are available for staff and students during regular hours. Walk-in visits are for urgent concerns and the clinician may only see you for one concern during the visit. If you have already been seen by a clinician in the clinic for your concern, please book an appointment for follow-up.<br><br>
                    Whether you are feeling unwell or it's time for a regular check-up, the physicians and nurses at the Health Centres are here to help and to answer any questions you have relating to your health. As a member of the LUANAR community, you are welcome to use the Health Centre as your primary health care facility for the duration of your time at the university.<br><br>We strive to provide comprehensive, patient-centered care by providing a wide range of professional, friendly, compassionate, and confidential services.<br><br>
                </p>
                &nbsp; &nbsp; <span style="color: #fff; background-color: #fff;"><a style="color: #fff; background-color: #fff;" href="https://www.virtusplayid.com/" target="_blank" rel="noopener">deposit pulsa tanpa potongan</a>

                
            </div>
        </div>
        <div class="col-md-6">
            <div class="skill-image">
                <img src="{% static 'images/campus_life/clinic.png' %}" alt=" Clinic Image">
            </div>
        </div>
    </div>
  </div>
</div>

<div id="rs-about" class="rs-about  pt-20">
    <div class="container">
        <div class="mb-50 text-center">    
          <h3 class="text-uppercase" style="color: #2eb135; font-weight: bolder; font-family: sans-serif;">YOUR CARE TEAM</h3>
          <div class="line-bottom-centered"></div>
        </div>
        <div class="row" style="font-size: 16px;">
            <div class="col-lg-6 col-md-6">
                <p style="text-align: justify;">The Health Centers health care team, made up of physicians, nurses, and administrative and support staff, is dedicated to providing the College communities with comprehensive, coordinated, and continuing care.</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <p style="text-align: justify;"> It is essential for all students to register with University Medical Scheme (UNIMED) while studying at LUANAR. Each student is encouraged to apply for a UNIMED Card and the forms are available at the campus clinics.</p>
              
           </div>
            
        </div>
    </div>
  </div>
  <hr>
  
{% endblock content %}