{% extends "main.html" %}
{% load static %}

{% block content %}

<!-- Breadcrumbs Start -->
<section class="inner-header divider layer-overlay overlay-dark-4" data-bg-img="{% static 'images/bg/about.jpg' %}">
    <div class="container pt-40 pb-20">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-white text-center font-36" style="font-family: sans-serif;">MARKETING AND COMMUNICATIONS</h1>
            <ol class="breadcrumb text-left mt-10 white">
              <li><a href=" url '' ">LUANAR</a></li>
              <li><a href="{% url 'about' %}">CAMPUS LIFE</a></li>
              <li><a href="#">MARKETING AND COMMUNICATIONS</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Breadcrumbs End -->

<div class="product-details-area pt-40">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="product-details-image">
                    <img src="{% static 'images/about/pro.jpg' %}" style="height: 360px; width: 550px;" alt="">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 alert alert-info">
                <div class="product-details-content">
                        <h3 style="font-family: sans-serif; font-weight: 400px;">Welcome to Marketing and Communications office</h3>
                        <hr>
                        <div class="product-name-rating">
                            
                        </div>
                        <p style="text-align: justify; font-size: 16px;">Our ultimate aim is to promote and safeguard the university's external reputation at international, national and regional level, in support of the university's strategy and objectives.<br><br>
                        We are made of a strong and dedicated team, who share the same vision and values of LUANAR. We are driven by the idea that best work stems from innovation, craftsmanship and diligence. </p>
                        <span style="font-size: 16px;">We also share information on the following media:</span>

                        <div class="social-links" style="float: right;">
                            <a href="https://web.facebook.com/profile.php?id=100068309810278"><i class="fa fa-2x fa-facebook text-theme-colored"></i></a> &nbsp;&nbsp;
                            <a href="https://twitter.com/Luanarofficial"><i class="fa fa-2x fa-twitter text-theme-colored"></i></a>&nbsp;&nbsp;
                            <a href="https://www.linkedin.com/company/luanar-lilongwe-university-of-agriculture-and-natural-resources/"><i class="fa fa-2x fa-linkedin text-theme-colored"></i></a>&nbsp;&nbsp;
                            <a href="https://www.instagram.com/luanar_official/"><i class="fa fa-2x fa-instagram text-theme-colored"></i></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-details-area pt-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-6">
                    <img src="{% static 'images/about/marketing1.jpg' %}" style="width: 100%;" alt="">
             
            </div>
            
        </div>
    </div>
</div>
<!--End of Product Details Area--> 
<!--Online Product Area Start-->
<div class="product-area section-padding pt-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-uppercase title">Corporate<span class="text-theme-colored2"> Communications</span></h2>
                <div class="line-bottom-centered"></div>
              </div>
        </div>
        <div class="row">
            
            <div class="col-md-6 col-sm-4 pb-0" >
                <div class="single-product-item">
                    
                    <div class="single-product-text" style="background-color: white; color: white;  border: rgb(228, 218, 218) 1px solid;">
                        <div class="col-md-12" style="background-color: #2eb135;">
                            <h3 style="text-align: center; color: white;">Media and Public Relations</h3>
                          
                        </div>
                        <div class="p-15">
<br><br><br>
                            <p style="text-align: justify; font-size: 16px;">We strongly advocate for strong and influential relationship with the media, who plays a critical role in helping us to share success stories, Excellency and university goals to the world. Our media team works tirelessly to respond to national and local media enquiries and drive awareness among our target audience.</p>
                           
                        </div>
 
                    </div>
                </div>
            </div>
        
            <div class="col-md-6 col-sm-4 pb-20">
                <div class="single-product-item">
                    
                    <div class="single-product-text" style="background-color:  #808080; ">
                        <div class="col-md-12" style="background-color: rgb(0,124,187);">
                            <h3 style="text-align: center;color: white">Digital Engagement</h3>
                         
                        </div>
                        <div class="p-15">
                            <br><br><br>
                            <p style="text-align: justify; font-size: 16px;color: white">Our media team continuously manages and monitors LUANAR website and social media channels to ensure that they're always up-to-date and informative. We have an institutional structure for digital engagement that will stand the test of time. Our social media platforms are highly regulated and constantly monitored. </p>
                            
                        </div>
                       
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-4">
                <div class="single-product-item">
                   
                    <div class="single-product-text" style="background: rgb(0,124,187);">
                     
                        <div  class="col-md-12" style="background-color:#808080;">
                            <h3 style="text-align: center; color: white;">Internal Communications</h3>
                         
                        </div>
                        <div class="p-15">
                            <br><br><br>
                             <p style="text-align: justify;font-size: 16px;color: white">We produce professional internal communications that are directive and engaging and we make sure that what staff wants to know they hear it from us first. Our approach is always consistent and proactive.<br><br>
    
                            We work across the university to find stories and issue worth sharing. We gather both strategic and general important information worth sharing across the university.</p>
                            
                        </div>
                      
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-sm-4">
                <div class="single-product-item">
                    
                    <div class="single-product-text"  style="background-color: white; color: white; border: rgb(228, 218, 218) 1px solid;">
                 
                        <div class="col-md-12" style="background-color: #2eb135">
                            <h3 style="text-align: center;color: white;">Student Communications</h3>
                        </div>
                        <div class="p-15">
                           <br>
                           <br><br>
                            <p style="text-align: justify; font-size: 16px;">We play a critical role in ensuring that students have access to pertinent information by creation and delivery of a spectrum of communications via the website and social media. We continuously update and improve our communication portals to meet the new edge information sharing methods.
    
                            We work closely with the Director of Student Affairs (DOSA) to handle international student enquiries and share all relevant information they may need from time to time.</p>
                          
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="product-area section-padding" style="padding-top: 40px;">
    <div class="container">
        <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="text-uppercase title">International<span class="text-theme-colored2"> Desk</span></h2>
                    <div class="line-bottom-centered"></div>
                  </div>
            
        </div>
        <div class="row">
            
            <div class="col-md-6 col-sm-6">
                   <img src="{% static 'images/campus_life/international.jpg' %}"  alt="">
            </div>
         
            <div class="col-md-6 col-sm-6 alert alert-info">
                <div class="product-details-content">
                        <h2 style="text-align: center"><a href="{% url 'internationalstudents' %}" style="font-size:24px;">International Desk </a></h2>
                        <p style="text-align: justify; font-size: 16px;">LUANAR is an internationally accredited university hosting students from diverse backgrounds and some from overseas. With our exceptionally qualified and experienced teachers and dedicated staff, LUANAR stands to compete at the global level.<br><br>
                            Through our international desk, working collaboratively with all departments and sections in providing all the necessary assistance to international students and ensuring smooth flow of information between the university and prospective/existing international students...
                      </p> 
                    </div>
                    
                </div>
        </div>
    </div>
</div>
<!--End of Online Product Area-->
<!--Newsletter Area Start-->
<br>
 <div class="latest-area bg-white" style="padding-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 text-center">
                    <h2 class="text-uppercase title">Marketing</h2>
                    <div class="line-bottom-centered"></div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-4"  style="padding: 10px;">
                <div class="single-product-item" style="border-radius: 4px; background: #2eb135;">
                    <br>
                    <h2 style="text-align: center; color: white;" >What we do?</h2>
                    <p style="text-align: justify; ">
                        
                        <ul style="text-align: justify; padding: 10px; margin-left: 20px; font-size: 16px;color: white;">
                        <li style="padding: 10px;"><i class="fa fa-arrow-right"></i>&nbsp;Supporting senior management in achieving the aims and objectives outlined within the University Strategic Plan</li>
                        <li style="padding: 10px;"><i class="fa fa-arrow-right"></i>&nbsp;Brand and brand positioning development and the production of toolkits required for its implementation across the organization.</li>
                        <li style="padding: 10px;"><i class="fa fa-arrow-right"></i>&nbsp;Reputation Management including crisis communications</li>
                        <li style="padding: 10px;"><i class="fa fa-arrow-right"></i>&nbsp;Development of corporate-level internal communication and student recruitment campaigns</li>
                        <li style="padding: 10px;"><i class="fa fa-arrow-right"></i>&nbsp;Managing the University's owned marketing and communications channels such as the website, corporate social media channels (our presence on Facebook, Twitter, YouTube, Instagram) and the University's courses database</li>
                        <li style="padding: 10px;"><i class="fa fa-arrow-right"></i>&nbsp;Management of the Communications, Design and Print Framework partners</li>
                        <li style="padding: 10px;"><i class="fa fa-arrow-right"></i>&nbsp;Instilling and communicating good marketing and communications practice across the University.</li>
                        <br><br><br>
                        
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-4" style="padding: 10px;">
                <div class="single-product-item" style="background: rgb(0,124,187); color: white; border-radius: 4px">
                    <br>
                        <h2 style="text-align: center">Marketing</h2>
                        
                       <p style="text-align: justify; padding: 10px; font-size: 16px;">The Marketing and Communications Department is responsible for creating and maintaining LUANAR's brand strategy. We provide guidelines for consistent, favourable and professional use of the brand and to promote a positive image of the University and its programmes.<br>

                       Our team of news writers, and graphic designers create memorable materials that communicate the university's core values and reflect its identity and registered trademarks.</p>
                      
                </div>
            </div>
            
            <div class="col-md-6 col-sm-4">
                
                <div class="single-product-item bg-white rounded"  style="color: white; border-radius: 4px">
                   <br>
                    
                    <p style="text-align: center">
                        <img src="{% static 'images/about/marketingservices.png' %}" style="width: 85%; height: 400px;" class="img-fluid" alt=""  >
                    </p>
                </div></div>
            
             
            </div>
            
            
            <hr>
        </div>
</div>

<div class="product-details-area section-top-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <div class="product-details-image">
                    <img src="{% static 'images/about/marketing2.jpg' %}" alt="">
                </div>
            </div>
            
        </div>
    </div>
</div>

<br>
{% endblock content %}