{% extends "main.html" %} {% load static %} {% block content %}
<section class="inner-header divider layer-overlay overlay-dark-4" data-bg-img="{% static 'images/bg/about.jpg' %}">
  <div class="container pt-120 pb-60">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-theme-colored2 text-center" style="font-family: sans-serif; font-size: 46px;">
            LUANAR | OFFICE OF VC
          </h2>
          <ol class="breadcrumb text-left mt-10 white">
            <li><a href="{% url '' %}">LUANAR</a></li>
            <li><a href="#">OFFICES</a></li>
            <li class="active">VICE CHANCELLOR</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pb-0 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-8 blog-pull-right">

        <h2 class="text-center title">Functions of the Office of the Vice Chancellor <span
            class="text-theme-colored2"></span></h2>
        <div class="line-bottom-centered"></div>

        <div class="single-service"
          style="font-family: sans-serif; font-size: 15px; border-bottom:#2eb135 3px solid; text-align: justify;">
          <h3>Leadership and Management</h3>
          <p style="padding-top: 10px;">
            The office provides innovative leadership to the University geared at the furtherance of the objectives of
            the University, by spearheading strategic planning, policy formulation and implementation targeted at the
            University and responsive to the needs of Malawi in particular and the world in general. The office ensures
            high standards of discipline among staff members and students alike as well as adherence to administrative,
            academic and financial policies, rules and regulations.
          </p>

          <h3>Research and Publications</h3>
          <p>
            The office ensures implementation of University Research Agenda which fosters application of research
            results to improve knowledge and human welfare. It also Facilitates collaborative research projects and
            innovative research that can result in improved production, processing and marketing of agricultural
            products. Apart from this the office encourages academic members of staff to embark on investigative
            research that brings about socio-economic changes in peoples habits as well as facilitate international
            research foundations and collaborative research that can provide funding for capacity building and
            infrastructure development of the University.
          </p>
          <h3>Academic Affairs</h3>
          <p>
            The office of the Vice chancellor inspires academic staff in providing effective teaching and learning
            through performance appraisals of academic, technical and support staff. It stimulates a culture of quality
            teaching and learning to ensure international standards. The office champions the development and review of
            curricula for all programmes. It explores and facilitates alternative teaching and learning avenues
            (including open and distance learning) in order to widen access to higher education.
          </p>
          <h3>Marketing and Publicity</h3>
          <div>
            The office of the Vice chancellor ensures the following in terms of marketing and publicity:
            <ul class="list">
              <li>Provides leadership for the development and execution of a comprehensive strategic communications and
                marketing plan to enhance the universities leadership position, reputation and brand.</li>
              <li>Markets the University by giving desirable visibility through interaction with government, the public,
                the donor community and the outside world on higher education issues.</li>
              <li>Reaches out to communities both locally and internationally, raising awareness of the university’s
                impact and international credentials.</li>
            </ul>
          </div>
          <h3>Financial/Business Management</h3>
          <p>The Vice chancellor engages in resource mobilization and ensures that funds raised by the University and
            those provided by government are managed properly as well as engage the private and public institutions so
            that industry participates in supporting higher education, research, and product development/marketing.</p>

          <h3>Quality Assurance</h3>
          <p>
            The Vice Chancellors office ensures that mechanisms for quality control and inspection are in place and are
            functioning properly so that the quality of the graduates is consistent with both regional and international
            expectations. It also champions the process of obtaining ISO certification. The office ensures that the
            University develops and maintains a culture for continuous improvement.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="sidebar sidebar-left mt-sm-30 ml-40">

            <h3 class="widget-title line-bottom">
              Important <span class="text-theme-colored2">information</span>
            </h3>
            <ul class="nav nav-pills nav-stacked nav-sidebar" style="background-color: rgb(205, 218, 211);">
              <li>
                <a href="{% url 'aboutvc' %}">About VC</a>
              </li>
              <li>
                <a href="{% url 'office_of_dvc' %}">Office of the DVC</a>
              </li>
              <li>
                <a href="{% url 'office_of_ar' %}">Office of Academics</a>
              </li>
              <li>
                <a href="{% url 'feesandfunding' %}">Fees & Funding</a>
              </li>
              <li>
                <a href="{% url 'studentsgovernance' %}">Students Governance</a>
              </li>
              <li>
                <a href="{% url 'accommodation' %}">Accommodation</a>
              </li>

            </ul>
          <div class="widget pt-20">
            <h3 class="widget-title line-bottom">
              Featured <span class="text-theme-colored2">Staff</span>
            </h3>
            <div class="c col-md-12">
              <div class="card mb-sm-30 pb-20 " style="border-bottom: #2eb135 1px solid; background-color: antiquewhite;">
                <img src="{{vc.profile_pic.url}}" class="card-img-top img-fluid" style="padding-top: 15px;"
                  alt="">
                <div class="card-body ">
                  <h2 class="card-title font-weight-700 font-18 mt-20"><a href="{% url 'aboutvc' %}">{{vc.staff_name}}</a></h2>
                  <h4 class="card-text">The Vice Chancellor</h4>
                  <a href="{% url 'aboutvc' %}"
                    class="hvr-shutter-out-horizontal btn btn-sm btn-dark  btn-theme-colored btn-flat">READ MORE</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <h3 class="widget-title">
              News <span class="text-theme-colored2"> Just In</span>
            </h3>
            <div class="col-md-12">
              <div class="card mb-sm-30 pb-20 " style="border-bottom:#2eb135 2px solid;  background-color: whitesmoke;">
                <img src="{{new.news_photo.url}}" class="card-img-top" style="padding-top: 15px;"
                  alt="...">
                <div class="card-body ">
                  <h3 class="card-title font-weight-700 font-18 mt-20"><a href="{% url 'newsdetail' new.news_id %}">{{new.news_title|truncatewords:10}}</a></h3>

                  <a href="{% url 'newsdetail' new.news_id %}"
                    class="hvr-shutter-out-horizontal btn btn-sm btn-dark  btn-theme-colored btn-flat">READ MORE</a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #ffffff;" class="pt-0 mt-0">
  <div class="container">
    <div class="container mt-0">
      <div class="col-md-12 text-center">
        <h2 class="text-uppercase title">Important <span class="text-theme-colored2"> information</span></h2>
        <div class="line-bottom-centered"></div>
      </div>
    </div>
    <div class="row">
      <div class="container col-md-12" style="text-align: justify;">
        <div class="row">
          <div class="col-md-6">
          
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="icon-box left media bg-deep p-30 mb-20"> <a class="media-left pull-left" href="#">
                            <i class="pe-7s-map-marker text-theme-colored"></i></a>
                          <div class="media-body">
                            <p>The Vice Chancellor, <br>
                              Lilongwe University of Agriculture and Natural Resources (LUANAR), <br>
                              Post Office Box 219, <br>
                              Lilongwe, Malawi.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-12">
                        <div class="icon-box left media bg-deep p-30 mb-20"> <a class="media-left pull-left" href="#">
                            <i class="pe-7s-call text-theme-colored"></i></a>
                          <div class="media-body">
                            <h5 class="mt-0">Contact Number</h5>
                            <p>01 277 222/1016</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-12">
                        <div class="icon-box left media bg-deep p-30 mb-20"> <a class="media-left pull-left" href="#">
                            <i class="pe-7s-mail text-theme-colored"></i></a>
                          <div class="media-body">
                            <h5 class="mt-0">Email Address</h5>
                            <p><a href="mailto:vc@luanar.ac.mw">vc@luanar.ac.mw</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              
          </div>
          <div class="col-md-6">
            <h3 class="font-weight-600 text-center" style="font-family: sans-serif;">Inviting the Vice Chancellor</h3>
            <p class="pl-20  pr-10">If you wish to invite the Vice-Chancellor to your event you need as much notice as you can. The Vice-Chancellor’s diary can be booked up to 6 months in advance provided you have a definite date and times.</p>
            <p class="pl-20  pr-10">The Vice Chancellors personal assistant (vc@luanar.ac.mw) is happy to receive enquiries about the Vice-Chancellor’s likely availability if you wish to ascertain this before booking your event.</p>
            <p class="pl-20  pr-10">
              At the time of booking we need to know the level of involvement you wish from the Vice-Chancellor, eg, power point, speech, a few words, presenting awards, or just attendance. A briefing document should be completed and sent to his personal assistant a week before your event. If the Vice-Chancellor is speaking at your event you will also need to liaise with the Marketing and Communication office regarding points that you would like him to cover.  
            </p>
            <p class="pl-20  pr-10">
              The University’s Executive Management team is collectively responsible for supporting events and it may be more appropriate for a member of the Executive Management team other than the Vice-Chancellor to attend in many circumstances.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}