{% extends "main.html" %} {% load static %} {% block content %}
<section
  class="inner-header divider layer-overlay overlay-dark-4"
  data-bg-img="{% static 'images/bg/about.jpg' %}"
>
  <div class="container pt-40 pb-20">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-white" style="font-family: sans-serif; font-size: 38px;">Social and Community Engagements</h2>
          <ol class="breadcrumb text-left mt-10 white">
            <li><a href=" url '' ">LUANAR</a></li>
            <li><a href=" url 'about' ">About</a></li>
            <li><a href="#"> Social Responsibility</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-content">
 
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div>
                <h2 class="text-theme-colored2">Social Responsibility</h2>
                <div class="diamond-line-left-theme-colored2" style="padding-top: 2px;"></div>

               <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ut quasi quis neque, non eaque officia architecto, sint esse repellat consequatur similique quia dolor Lorem optio exercitationem, officiis eos a quisquam!
            </p> 
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat aliquam animi, voluptatem odit, fuga 
                tempore temporibus minus quibusdam, repellendus  nesciunt laboriosam a nulla vel! At dolores commodi maxime rem illum. Lorem ipsum dolor sit amet 
                consectetur, adipisicing elit. Porro quisquam vitae recusandae commodi deserunt nulla voluptatem aut cupiditate facere explicabo veritatis minima
                 ipsa aperiam nobis placeat, quis eaque vero autem. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos molestiae quasi dolor ipsam ad,
             aspernatur laboriosam assumenda nam, necessitatibus accusantium laudantium dolore ducimus culpa rerum minus magnam ut. Aliquid, nostrum.</p>

             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus saepe aspernatur repudiandae, perferendis nihil adipisci odit vitae perspiciatis delectus 
                quam rerum dolorum cupiditate est fugit, inventore assumenda aliquid tenetur. Atque. Lorem ipsum dolor sit amet consectetur
                 adipisicing elit. Eaque placeat delectus ab animi dignissimos nam voluptatem, excepturi omnis enim! Molestias autem soluta voluptatem quod vero est hic, deleniti dicta ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, pariatur eligendi. Facilis nobis maiores quos dolores perferendis et quisquam, optio vero earum, a dolorum dignissimos enim illum deleniti illo architecto.</p>
            <hr>
                </div>
        
        </div>
   
    </div>
  </div>
</section>

{% endblock content %}
