{% extends "main.html" %}
{% load static %}
{% block content %}
<section class="inner-header divider layer-overlay overlay-dark-4" data-bg-img="{% static 'images/bg/about.jpg' %}">
    <div class="container pt-40 pb-20">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-white text-center " style="font-family: sans-serif; font-size: 46px;">LUANAR | ANNOUNCEMENTS</h2>
            <ol class="breadcrumb text-left mt-10 white">
              <li><a href=" url '' ">LUANAR</a></li>
              <li><a href="#">Announcements</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8 blog-pull-right">
          <div class="single-service" style="font-family: Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 15px;">
            <h3 style = " text-align: justify; color: rgb(0,124,187);">{{announcement_detail.title}}</h3>

            <p> <b>Posted : </b> <i class="fa fa-clock-o"></i> {{announcement_detail.created_at|timesince}} ago</p>
             

            <div style="padding-top: 10px; text-align: justify; font-size: 16px;">
              <p >
                {% autoescape off %}
                {{announcement_detail.description|linebreaks}}
                {% endautoescape %}
  
              </p>
            </div>
           

            {% if not announcement_detail.application_form %}  

            {% else %}
            <a href="{{announcement_detail.application_form.url}}" class="hvr-shutter-out-horizontal btn btn-sm btn-dark  btn-theme-colored btn-flat"><i class="fa fa-download fa-lg"></i>&nbsp; Download Application Form</a>
      
            {% endif %}

            {% if not announcement_detail.file %}  

            {% else %}
            <a href="{{announcement_detail.file.url}}" class="hvr-shutter-out-horizontal btn btn-sm btn-dark  btn-theme-colored btn-flat"><i class="fa fa-download fa-lg"></i>&nbsp; Download File</a>
            {% endif %}
     
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="sidebar sidebar-left mt-sm-30">
            
              <h3>
                 Quick <span class="text-theme-colored2">Links</span>
              </h3>
         
              <ul class="nav nav-stacked nav-pills nav-sidebar" style="background-color: rgb(205, 218, 211);">
                <li>
                  <a href="{% url 'announcements' %}"
                    >Announcements</a >
                </li>
                <li>
                  <a href="{% url 'events' %}"
                    >Upcoming Events</a >
                </li>
                <li>
                  <a href="{% url 'immigration' %}" 
                    >Immigration information</a >
                </li>
                <li>
                  <a href="{% url 'feesandfunding' %}"
                    >Fees & Funding</a >
                </li>
                <li>
                  <a href="{% url 'campus_life' %}"
                    >Campus Life</a >
                </li>
                <li>
                  <a href="{% url 'accommodation' %}"
                    >Accommodation</a >
                </li>
               
              </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="container">
 
    <h3 class="margin-bottom-25">In News </h3>
    <ul class="row news-list">
         {% for new in news %}
  <li class="col-sm-6 col-md-3 margin-bottom-20 equal-height bg-dark" >
  <a class="overlay" href="{% url 'newsdetail' new.news_title %}">
<div class="feature-item">
    <div class="thumb">
        <img src="{{ new.news_photo.url }}" class="img-fluid  feature-item" style="height: 200px;" alt>
    </div>
</div>
<div class="bg-dark" style="background-color: rgb(87, 84, 84);">
    <div class="desc inherit-position" style="text-align: justify; padding: 0 10px 10px 10px; margin-bottom: 10px;">
        <p class="date text-white text-center">Date: {{new.updated_at|date:"F d, Y"}}</p>
        <h4 class="min-height text-white">{{new.news_title|truncatewords:6}}</h4>
        </div>
</div>

</a>
          </li>
          {% endfor %}
      </ul>

</section>


{% endblock content %}
