{% extends "main.html" %} {% load static %} {% block content %}
<section
  class="inner-header divider layer-overlay overlay-dark-4"
  data-bg-img="{% static 'images/bg/about.jpg' %}"
>
  <div class="container pt-120 pb-60">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-theme-colored2 text_uppercase text-center" style="font-family: sans-serif; font-size: 46px;"> LUANAR | Campuses, Maps & Directions</h2>
          <ol class="breadcrumb text-left mt-10 white">
            <li><a href=" url '' ">LUANAR</a></li>
            <li><a href=" url 'about' ">ABOUT</a></li>
            <li class="active">Campuses, Maps & Directions</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-content">
 
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div>
                <h2 class="text-theme-colored2">Campuses, Maps & Directions</h2>
                <div class="diamond-line-left-theme-colored2" style="padding-top: 2px;"></div>

               <p style="text-align: justify; font-size:16px;"> Lilongwe University of Agriculture and Natural Resources (LUANAR) is located in Lilongwe, the capital city of Malawi. Lilongwe is situated in the central region of the country, making it easily accessible from various parts of Malawi. The university campus is typically found on the outskirts of the city, offering a serene environment conducive to academic pursuits.</p> 
          
               <p style="text-align: justify; font-size:16px;">Being located in Lilongwe provides students and faculty with access to various governmental, agricultural, and natural resource-related organizations and opportunities for collaboration and research. Additionally, the central location of Lilongwe enhances the university's outreach and engagement activities within Malawi and the broader region, contributing to its mission of promoting sustainable agriculture and natural resource management.</p> 
          
            <hr>
                </div>
                
          <div class="font-15" style="font-family: Arial, Helvetica, sans-serif">
           <div>
            <h2 class="col-lg-12 col-md-12" style="background-color: rgb(157, 183, 206);">Google Map: Bunda Campus</h2>
           </div>
           <div class="col-md-12 col-lg-12">
            <div class="col-md-12">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3868.2588119635816!2d33.77573407424324!3d-14.179613786258363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1921caa0a56390ff%3A0x5213b65403c46e71!2sBunda%20College%20of%20Agriculture!5e0!3m2!1sen!2smw!4v1708941941023!5m2!1sen!2smw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
           </div>
          </div>
          <hr>

          <div class="font-15" style="font-family: Arial, Helvetica, sans-serif">
            <div>
             <h2 class="col-lg-12 col-md-12" style="background-color: rgb(157, 183, 206);">Google Map: City Campus</h2>
            </div>
            <div class="col-md-12 col-lg-12">
             <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3871.0308745496627!2d33.78504787418599!3d-14.016183681688263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1921d38562f08569%3A0x93db6572887e13e8!2sLUANAR%20CITY%20CAMPUS!5e0!3m2!1sen!2smw!4v1708942193599!5m2!1sen!2smw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
             </div>
            </div>
           </div>
           <hr>
           <div class="font-15" style="font-family: Arial, Helvetica, sans-serif">
            <div>
             <h2 class="col-lg-12 col-md-12" style="background-color: rgb(157, 183, 206);"> Google Map: NRC Campus</h2>
            </div>
            <div class="col-md-12 col-lg-12">
             <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3870.952655193139!2d33.66743687418612!3d-14.020820781789311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1921d157ac376829%3A0x1b07062d631f1acb!2sLUANAR%20NRC%20campus!5e0!3m2!1sen!2smw!4v1708942292922!5m2!1sen!2smw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
           </div>
        </div>
   
    </div>
  </div>
</section>

{% endblock content %}
