{% extends "main.html" %}
{% load static %}
{% block content %}
<section class="inner-header divider layer-overlay overlay-dark-4" data-bg-img="{% static 'images/bg/about.jpg' %}">
  <div class="container pt-40 pb-20">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-white text-uppercase text-center" style="font-family: sans-serif; font-size: 38px;">Faculties</h2>
          <ol class="breadcrumb text-left mt-10 white">
            <li><a href=" url '' ">LUANAR</a></li>
            <li><a href="#">Schools</a></li>
            <li><a href="#">Faculties</a></li>
          
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-9 blog-pull-right ">

        <div style="text-align: justify; border-bottom:#2eb135 1px solid; padding-top: 30px;">
          <p style="text-align: justify; font-size: 16px;color: rgb(0,124,187);"><b> {{firstfaculty.faculty_name}}</b></p>
      <hr>
            <div class="col-md-8" style="float: right; margin-left: 10px;">
              {% if not firstfaculty.faculty_image%}

              <p>{{ firstfaculty.faculty_name }} Image </p>
    
              {% else %}
    
              <img src="{{firstfaculty.faculty_image.url}}" class="img-fluid img-responsive"
                style=" width: 100%;" alt="" />
              {% endif %}

            </div>
            <div style="text-align: justify; font-size: 15px;">

               <div style=" text-align: justify; font-size: 16px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            <p>
              {% autoescape off %}
              {{firstfaculty.faculty_description|linebreaks}}
              {% endautoescape %}

            </p>
          </div>
            </div>
          

        </div>



        
          <div class="col-md-12" style=" border-left: 5px solid; margin: 20px 0 10px 0; background-color: #f0f0f0;">
            <div>
              <h3 style="font-family:  'Merriweather Sans', sans-serif; font-weight: bold;">
                Departments under  {{firstfaculty.faculty_name}}:
              </h3>
            </div>

          </div>
         
      </div>



      <div class="col-sm-12 col-md-3 ">
        <div class="sidebar sidebar-left mt-sm-30">

            <h2 class="widget-title line-bottom mt-30" style="font-family:  'Merriweather Sans', sans-serif; font-weight: bold;text-align: justify;">
         Faculties
            </h2>
            <ul class="nav nav-stacked nav-pills nav-sidebar" style="background-color: rgb(205, 218, 211); border-radius: 10px;">
          
            {% for faculty in faculties %}
               <li>
                <a href="{% url 'faculty_details' faculty.faculty_id %}"
                 >{{faculty.faculty_name}}</a>
              </li>
              {% endfor %}
            </ul>
      

        <div class="widget pt-20"> 
            
{% if not staff.staff_name %}

{% else %}

            <div class="col-md-12" style="border-bottom: #2eb135 1px solid;">
              <h4 class="widget-title line-bottom" style="font-family:  'Merriweather Sans', sans-serif; font-weight: bold;text-align: justify;">
                Dean of <span class="text-theme-colored2">Faculty</span>
              </h4>
              <div class="pb-10" style=" background-color: antiquewhite;">
         
                <a href="{% url 'academic_staff_view' staff.staff_id %}"> 

                
                  <div>
                    <img src="{{staff.profile_pic.url}}" class="card-img-top img-fluid" style="width: 100%; height: 200px;" alt="">

                  </div>
                 
                  <div class="text-center  pb-10" style=" background-color: antiquewhite;">
                  <h2 class="card-title font-weight-700 font-18 mt-20">{{staff.staff_name}}</h2>
                  <p class="text-capitalize" style="font-size: 14px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{ staff.staff_position}}</p></a>
                
              </div>
            </div>
{% endif %}

          </div> 
<h2 class="widget-title " style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Latest News</h2>
<div class="latest-posts">


<article class="post media-post clearfix pb-0 mb-10" style="background-color: rgb(223, 226, 225);">
<a class="post-thumb" href="{% url 'newsdetail' news.news_title %}"><img src="{{news.news_photo.url}}"  style="height: 75px; width: 100px;" class="img-fluid" alt></a>
<div class="post-right">
  <a href="{% url 'newsdetail' news.news_title %}"><h4 class="post-title mt-0">{{news.news_title|truncatewords:8}}</h4></a>
</div>
</article>


</div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}