
{% extends "main.html" %} {% load static %} {% block content %}
<section class="inner-header divider layer-overlay overlay-dark-4" data-bg-img="{% static 'images/bg/about.jpg' %}">
  <div class="container pt-40 pb-20">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-white text-center" style="font-family: sans-serif; font-size: 38px;">
            GENDER BASED VIOLENCE AND SEXUAL HARASSMENT REPORTING
          </h2>
          <ol class="breadcrumb text-left mt-10 white">
            <li><a href="{% url '' %}">LUANAR</a></li>
            <li><a href="#">GENDER BASED VIOLENCE AND SEXUAL HARASSMENT REPORTING</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="container">
   
<style>
    td,
    th {
        border: 1px solid #000;
        text-align: left;
        padding: 8px;
    }
</style>
<!--End of Breadcrumb Banner Area-->
<!--About Page Area Start-->
<div class="about-page-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container mt-0">
                    <div class="col-md-12 text-center">
                      <h2 class="title" >Sexual Misconduct and Harassment Information</h2>
                      <div class="line-bottom-centered"></div>
                     </div>
              </div> 

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="about-text-container">
                    <div class="about-us">

                        <h3>BACKGROUND</h3>
                        <p style="text-align: justify; font-size: 16px;">
                            Gender-based violence and sexual harassment are actions which violate important human
                            rights. Incidents of sexual harassment occur every day in every space. The University
                            supports persons affected by sexual misconduct. Support is available in many forms and is
                            available regardless of whether you decide to submit a report or not.

                            Staff, students and community can report any sexual misconduct involving a LUANAR staff or
                            student to:
                        </p>
                        <br>

                        <table class="table">
                            <thead>
                                <tr style="background-color :  rgb(0,124,187); color : white;">
                                    <th><b>Office</b></th>
                                    <th> <b>Contact</b></th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 16px; color: #0e0c0c;">
                                <tr>
                                    <td>Gender Coordinating Unit </td>
                                    <td>genderunit@luanar.ac.mw 0996 29 38 04</td>
                                </tr>
                                <tr>
                                    <td>The Clinic (Bunda) </td>
                                    <td>0999 27 69 01</td>
                                </tr>
                                <tr>
                                    <td>The Clinic (NRC) </td>
                                    <td>0883 52 98 92</td>
                                </tr>
                                <tr>
                                    <td>Security Officer (Bunda)</td>
                                    <td>0999 57 38 24</td>
                                </tr>
                                <tr>
                                    <td>Security Officer (NRC) </td>
                                    <td>0888 71 66 83</td>
                                </tr>
                                <tr>
                                    <td>Victim Support Unit and Police (Bunda Police Unit and any other clinic nearby)
                                    </td>
                                    <td>0888 17 22 88</td>
                                </tr>

                            </tbody>
                        </table>
                        <br>

                        <p style="text-align: justify; font-size: 16px;">Additional support for LUANAR students include: </p>

                        <br>

                        <table class="table table-striped">
                            <thead>
                                <tr style="background-color :  rgb(0,124,187); color : white;">
                                    <th><b>Office</b></th>
                                    <th> <b>Contact</b></th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 16px; color: #0e0c0c;">
                                <tr>
                                    <td>Director of Student Affairs (DOSA) </td>
                                    <td>0999 33 08 75</td>
                                </tr>

                                <tr>
                                    <td>Assistant Registrar-Student Welfare (Bunda) </td>
                                    <td>0999 95 33 06</td>
                                </tr>

                                <tr>
                                    <td>Assistant Registrar-Student Welfare (NRC) </td>
                                    <td>0993 86 87 93</td>
                                </tr>

                                <tr>
                                    <td>Warden (Bunda) </td>
                                    <td>0992 29 10 37</td>
                                </tr>

                                <tr>
                                    <td>Warden (NRC) </td>
                                    <td>0888 65 01 89</td>
                                </tr>

                                <tr>
                                    <td>Housekeeper (Bunda) </td>
                                    <td>0881 94 51 81</td>
                                </tr>

                                <tr>
                                    <td>Administrative Officer (City Campus) </td>
                                    <td>0999 95 53 35 </td>
                                </tr>

                                <tr>
                                    <td>Administrator (ODL) </td>
                                    <td>0995 70 08 34 </td>
                                </tr>
                            </tbody>
                        </table>

                        <h3>DOWNLOADS</h3>
                        <p style="text-align: justify; font-size: 16px;">Below is a list of relevant downloads. Please click inorder to
                            download: </p>

                            <div class="container">
                                <ol>
                                    <li><i class="fa fa-arrow-right"></i>&nbsp;<a target="_blank" href="../../../media/downloads/Sexual Harrasment FAQs.docx"><span>Frequently
                                        Asked Questions on Sexual Harrasment</span> </a></li>
                                    <li><i class="fa fa-arrow-right"></i>&nbsp;    <a target="_blank"
                                        href="../../../media/downloads/Sexual Harrasment Reporting Support .docx"><span>Sexual
                                            Harrasment Reporting Support</span> </a></li>
                                    <li><i class="fa fa-arrow-right"></i>&nbsp;<a target="_blank" href="../../../media/downloads/Sexual Harrasment Form.docx"><span>Sexual
                                        Harrasment Form</span> </a></li>
                                </ol>
                            </div>
                     
                        </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!--End of About Page Area-->
</div>
</div>
<br>
  </div>
</section>
{% endblock content %}
