{% extends "main.html" %}
{% load static %}

{% block content %} 

<!-- Banner Wrapper Start -->


<!-- 
<div class="banner-wrapper">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
   
    <div class="overlay"></div>
  
     <ol class="carousel-indicators">
      <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#bs-carousel" data-slide-to="1"></li>
      <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>
    
    <div class="carousel-inner ">
      <div class="item slides active">
        <div class="item">
          <img class="img-fluid" src="{% static 'images/bg/bg1.jpg' %}" alt="Slide3" />
        </div>  

      </div>
      <div class="item slides">
        <div class="item">
          <img class="img-fluid" src="{% static 'images/bg/bg1.jpg' %}" alt="Slide3" />
        </div>  
        <div class="hero">
          <h1 class="animated">Education World</h1>
          <h3 class="animated2">Duis aute irure dolor in reprehenderit in voluptate velit esse</h3>
        </div>
      </div>
      <div class="item slides">
        <div class="item">
          <img class="img-fluid" src="{% static 'images/bg/bg1.jpg' %}" alt="Slide3" />
        </div>  
        <div class="hero">
          <h1 class="animated">Education World</h1>
          <h3 class="animated2">Duis aute irure dolor in reprehenderit in voluptate velit esse</h3>
        </div>
      </div>
    </div>
  </div>
</div>  -->


  <section id="home">
    <div class="container-fluid p-0">
    
    <div class="rev_slider_wrapper">
    <div class="rev_slider" data-version="5.0">
    <ul>
    
      <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" 
      data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Slide 2" 
      data-description="">
      
      <img src="{% static 'images/bg/bg5.jpg' %}" alt="" data-bgposition="center 40%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" 
      data-bgparallax="10" data-no-retina="">
      
      
      <div class="tp-caption tp-resizeme text-uppercase text-white  font-raleway pl-30 pr-30" id="rs-2-layer-1" data-x="['center']"
       data-hoffset="['0']" data-y="['middle']" data-voffset="['-150']" data-fontsize="['28']" data-lineheight="['54']" data-width="none" data-height="none" 
       data-whitespace="nowrap" data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" 
       data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
       data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" 
       style="z-index: 7; white-space: nowrap; font-weight:400; border-radius: 30px;">Welcome to the
      </div>
      
      <div class="tp-caption tp-resizeme text-theme-colored font-raleway pl-30 pr-30" id="rs-2-layer-2"
       data-x="['center']" data-hoffset="['0']" data-y="['middle']" data-voffset="['-70']" data-fontsize="['48']" data-lineheight="['50']" 
       data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" 
       data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
       data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" 
       style="z-index: 7; white-space: nowrap; font-weight:700; border-radius: 30px;">Lilongwe University of Agriculture <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and Natural Resources
      </div>
      
      <div class="tp-caption tp-resizeme text-center text-white" id="rs-2-layer-3" data-x="['center']" data-hoffset="['0']" data-y="['middle']" 
      data-voffset="['10']" data-fontsize="['30']" data-lineheight="['28']" data-width="none" data-height="none" data-whitespace="nowrap" 
      data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" 
      data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
      data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none" data-splitout="none" data-responsive_offset="on" 
      style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">A University with Endless Possibilities.
      </div>
      
      <div class="tp-caption tp-resizeme" id="rs-2-layer-4" data-x="['center']" data-hoffset="['0']" data-y="['middle']" data-voffset="['70']" 
      data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
       data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none" data-splitout="none" data-responsive_offset="on"
          style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-theme-colored btn-circled pl-20 pr-20" href="{% url 'about' %}">Read more</a>
      </div>
      </li>
      
    <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="{% static 'images/bg/bg2.jpg' %}" data-rotate="0" data-saveperformance="off" data-title="Slide 1" data-description="">
    
    <img src="{% static 'images/bg/bg2.jpg' %}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina="">
    
    
    <div class="tp-caption tp-resizeme text-theme-colored" id="rs-1-layer-2" data-x="['middle']" data-hoffset="['35']"
     data-y="['middle']" data-voffset="['-120']" data-fontsize="['48']" data-lineheight="['94']" data-width="none" data-height="none" 
     data-whitespace="nowrap" data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" 
     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
      data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on"
       style="z-index: 7; white-space: nowrap; font-weight:700;">The place of useful
        learning
    </div>
    
    <div class="tp-caption tp-resizeme text-white" id="rs-1-layer-3" data-x="['middle']" data-hoffset="['35']" data-y="['middle']" data-voffset="['-45']"
     data-fontsize="['27']" data-lineheight="['28']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500"
      data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" 
      data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none"
       data-splitout="none" data-responsive_offset="on"
        style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">  Our Innovative learning methods are 
       designed to help you <br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; achieve your goals.
    </div>
    
    <div class="tp-caption tp-resizeme" id="rs-1-layer-4" data-x="['middle']" data-hoffset="['35']" data-y="['middle']" data-voffset="['40']" 
    data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none" data-splitout="none" data-responsive_offset="on" 
    style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-theme-colored btn-circled pl-20 pr-20" 
    href="{% url 'about' %}">Read more</a>
    </div>
    </li>

    <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" 
    data-masterspeed="default" data-thumb="{% static 'images/bg/bg3.jpg' %}" data-rotate="0" data-saveperformance="off" data-title="Slide 3" 
    data-description="">
    
    <img src="{% static 'images/bg/bg3.jpg' %}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"
     data-bgparallax="10" data-no-retina="">
      
    <div class="tp-caption tp-resizeme text-theme-colored" id="rs-3-layer-2" data-x="['middle']" data-hoffset="['35']" data-y="['middle']" 
    data-voffset="['-100']" data-fontsize="['48']" data-lineheight="['94']" data-width="none" data-height="none" data-whitespace="nowrap" 
    data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;" 
    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" 
    style="z-index: 7; white-space: nowrap; font-weight:600;">Invest in Your Future
    </div>
    
    <div class="tp-caption tp-resizeme text-right text-white" id="rs-3-layer-3" data-x="['middle']" data-hoffset="['35']" data-y="['middle']" 
    data-voffset="-30" data-fontsize="['24']" data-lineheight="['28']" data-width="none" data-height="none" data-whitespace="nowrap" 
    data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none" data-splitout="none" data-responsive_offset="on" 
     style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">  Our conducive teaching and learning 
     environment will give <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;you the best 
     possible  learning experience.
    </div>
    
    <div class="tp-caption tp-resizeme" id="rs-3-layer-4" data-x="['middle']" data-hoffset="['35']" data-y="['middle']" data-voffset="['50']" 
    data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none" data-splitout="none" data-responsive_offset="on" 
     style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-theme-colored btn-circled pl-20 pr-20"
      href="{% url 'about' %}">Read more</a>
    </div>
    </li>
    </ul>
    </div>
    
    </div>
    <script>
              $(document).ready(function(e) {
                $(".rev_slider").revolution({
                  sliderType:"standard",
                  sliderLayout: "auto",
                  dottedOverlay: "none",
                  delay: 5000,
                  navigation: {
                      keyboardNavigation: "off",
                      keyboard_direction: "horizontal",
                      mouseScrollNavigation: "off",
                      onHoverStop: "off",
                      touch: {
                          touchenabled: "off",
                          swipe_threshold: 75,
                          swipe_min_touches: 1,
                          swipe_direction: "horizontal",
                          drag_block_vertical: false
                      },
                  },
                  responsiveLevels: [1240, 1024, 778],
                  visibilityLevels: [1240, 1024, 778],
                  gridwidth: [1170, 1024, 778, 480],
                  gridheight: [650, 768, 960, 720],
                  lazyType: "none",
                });
              });
            </script>
    
    </div>
  </section>
 
  <section id="about" class="container mb-50">
    
    <div class="col-md-12 col-lg-12 col-sm-12">
    <div class=" pt-50 ">
      <div class="section-content">
        <div class="row">
          <div class="col-md-6">
            <div class="box-hover-effect about-video mt-sm-30">
              <div class="effect-wrapper">
                <div class="thumb">
                  <img class="img-fullwidth wow zoomIn" data-wow-duration="1.5s" data-wow-offset="10"
                    src="{% static 'images/about/about2.jpg' %}" alt="project">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-8" style=" border: black 1px solid; font-size: 1.5em; text-align: center; ">
              INTRODUCING OUR CAMPUS
            </div>
            <div class="col-md-12 wow slideInUp" data-wow-duration="1.5s" data-wow-offset="10">
              <h2 style="font-family: sans-serif;">A good education is a foundation for a better future</h2>
            </div>
            <div class="row wow slideInUp" data-wow-duration="1.5s" data-wow-offset="10">
              <div class="col-md-6">
                <ul class="list-icon theme-colored rounded">
                  <li><a href="{% url 'postgraduateprograms' %}" style="font-size: 17px; color: black;"><i class="fa fa-arrow-right"></i>Postgraduate
                      Programs</a></li>
                  <li><a href="{% url 'undergraduateprograms' %}" style="font-size: 17px; color: black;"><i class="fa fa-arrow-right"></i>Undergraduate
                      Programs</a></li>
                  <li><a href="#" style="font-size: 17px; color: black;"><i class="fa fa-arrow-right"></i>Doctorial
                      Degrees</a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-icon theme-colored rounded">
                  <li><a href="{% url 'campus_life' %}" style="font-size: 17px; color: black;"><i class="fa fa-arrow-right"></i>Campus Life
                      </a></li>
                  <li><a href="{% url 'internationalstudents' %}" style="font-size: 17px; color: black;"><i class="fa fa-arrow-right"></i>Global
                      Students</a></li>
                  <li><a href="https://www.luanar.ac.mw/alumni/" style="font-size: 17px; color: black;"><i class="fa fa-arrow-right"></i>Alumni &
                      Giving</a></li>
                </ul>
              </div>
            </div>
            <hr>
            <div class="">

              <a href="{% url 'about' %}" class="hvr-shutter-out-horizontal btn btn-dark btn-theme-colored btn-flat">More About
                Us</a>
            </div>

          </div>
        </div>
        <div class="container pt-50 pb-10">
          <div class="row">
            <div class="col-md-4" style="border: rgb(228, 218, 218) 1px solid;">
              <div class="col-md-6 wow slideInRight" data-wow-duration="1.5s" data-wow-offset="10"
              style="background-color: rgb(0,124,187);">
                <h3 class="text-white" style=" font-family: sans-serif;">Our Vision</h3>
              </div>

              <div class="col-md-12 wow slideInUp" data-wow-duration="1.5s" data-wow-offset="10">
                <p style="font-size: 17px;">To be a world class University. By providing quality education and training
                  in agricultural and natural resources science, engineering and irrigation technologies,
                  agro-processing...</p>
              </div>
              <div class="col-md-6">
                <a href="{% url 'mission_vision_values' %}" class="read-more text-theme-colored font-17"> Read more
                  <i class="ri-arrow-right-line"></i>
                </a>
              </div>
            </div>
            <div class="col-md-4" style="border: rgb(228, 218, 218) 1px solid;">

              <div class="col-md-6 wow slideInRight" data-wow-duration="2s" data-wow-offset="10"
              style="background-color: rgb(0,124,187);">
                <h3 class="text-white" style=" font-family: sans-serif;">Our Mission</h3>
              </div>

              <div class="col-md-12 wow slideInUp" data-wow-duration="1.5s" data-wow-offset="10">
                <p style="font-size: 17px;">To advance knowledge and produce relevant graduates with entrepreneurship
                  skills for agricultural growth, food security, wealth creation and sustainable natural resources
                  management...</p>
              </div>
              <div class="col-md-6">
                <a href="{% url 'mission_vision_values' %}" class="read-more text-theme-colored font-17"> Read more
                  <i class="ri-arrow-right-line"></i>
                </a>
              </div>

            </div>
            <div class="col-md-4" style="background-color: rgb(0,124,187);">
              <div class="col-md-6 wow slideInRight" data-wow-duration="3s" data-wow-offset="10"
                style="background-color: rgb(255, 255, 255);">
                <h3 style=" font-family: sans-serif;">Our History</h3>
              </div>

              <div class="col-md-12 wow slideInUp" data-wow-duration="1.5s" data-wow-offset="10">
                <p style="font-size: 17px; color: white;" >In a landmark address to the Malawi parliament on 24th May 2010, the third
                  State President of
                  the Republic of Malawi,
                  His Excellency the late Professor Bingu wa Mutharika shared his vision of...</p>
              </div>

              <div class="col-md-6">
                <a href="{% url 'luanar_history' %}" class="read-more text-theme-colored font-17"> Read more
                  <i class="ri-arrow-right-line"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <section class="parallax layer-overlay overlay-theme-colored-9 mb-md-50" data-bg-img="{% static 'images/bg/INDEXB.png' %}" data-parallax-ratio="0.4">
    <div class="container pt-60 pb-90">
    <div class="section-content">
      <div class="section-title-wrapper">
        <h3 class="text-center text-white" style="font-family:sans-serif; font-size: 40px">LUANAR AT A GLANCE</h3>
        <br>
      </div>
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
    <div class="funfact text-center">
    <div class="odometer-animate-number text-white font-weight-600 font-48" data-value="197" data-theme="minimal">0</div>
    <div class="double-line-bottom-centered theme-colored2 mt-0 mb-25"></div>
    <h5 class="text-white text-uppercase mb-0 font-16">Faculty Members</h5>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
    <div class="funfact text-center">
    <div class="odometer-animate-number text-white font-weight-600 font-48" data-value="10000" data-theme="minimal">0</div>
    <div class="double-line-bottom-centered-theme-colored-2 mt-0 mb-25"></div>
    <h5 class="text-white text-uppercase mb-0 font-16">Students</h5>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
    <div class="funfact text-center">
    <div class="odometer-animate-number text-white font-weight-600 font-48" data-value="72" data-theme="minimal">0</div>
    <div class="double-line-bottom-centered-theme-colored-2 mt-0 mb-25"></div>
    <h5 class="text-white text-uppercase mb-0 font-16">Programmes</h5>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 mb-md-0">
    <div class="funfact text-center">
    <div class="odometer-animate-number text-white font-weight-600 font-48" data-value="8" data-theme="minimal">0</div>
    <div class="double-line-bottom-centered-theme-colored-2 mt-0 mb-25"></div>
    <h5 class="text-white text-uppercase mb-0 font-16">Countries</h5>
    </div>
    </div>
    </div>
    </div>
    </div>
  </section>
 
  <div class="mb-0 pt-50" style="background-color: #efe6b2e0;">
    <section class="container events">
        <div class="col-md-12 col-lg-12">
          <div class="row">         
                  <div class="col-md-6 blog-pull-left">
                    <h3 class="text-uppercase line-bottom-theme-colored-2 mt-0 pb-10 line-height-1"><i
                      class="fa fa-calendar mr-10"></i>Upcoming <span class="text-theme-colored2">Events</span></h3>
                      {% for event in events %}
                      <div class="upcoming-events bg-white-f3 mb-20 pl-10">
                      <div class="row">
                        <div class="col-sm-6 pl-0 pl-sm-15">
                          <div class="event-details p-15 mt-20">
                            <h5 class="media-heading text-uppercase font-weight-500">{{event.event_title|truncatewords:5}}</h5>
                            <p>{{event.event_description|truncatewords:10}}</p>
                            <a href="{% url 'eventsdetail' event.event_id %}" class="btn btn-flat btn-dark btn-theme-colored btn-sm">Details <i
                                class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="event-count p-15 mt-15">
                            <ul class="event-date list-inline font-16 text-uppercase mt-10 mb-20">
                              <li class="p-15 mr-5 bg-lightest text-theme-colored">{{ event.date|date:"M" }}</li>
                              <li class="p-15 pl-20 pr-20 mr-5 bg-lightest text-theme-colored"> {{ event.date|date:"d" }}</li>
                              <li class="p-15 bg-lightest text-theme-colored" >{{ event.date|date:"Y" }}</li>
                            </ul>
                            <ul>
                              <li class="mb-10 "><i class="fa fa-clock-o mr-5"></i> at {{event.start_time}} - {{event.end_time}}
                                </li>
                              <li class="text-theme-colored"><i class="fa fa-map-marker mr-5"></i>  {{event.venue}}</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
            <div class="col-md-6">
              <img scr="{% static 'images/logo-wide.png' %}" alt="" class="img-responsive"></img>
              <h2 class="text-uppercase line-bottom-theme-colored-2 line-height-1 mt-0 mt-sm-30">Latest <span
                  class="text-theme-colored2">Announcements</span></h2>

              {% for announcement in announcements %}
              <div class="col-md-12">
                <div class="col-md-12 col-xs-12 col-sm-12">
                  <h3> <a href="{% url 'announcement_detail' announcement.announcement_id %}"> {{announcement.title}}</a></h3>
                </div>
                <div class="col-md-12">
                  <p class="text-dark" style="text-align: justify;">
                    {{announcement.description}}
                  </p>
                </div>
                <div class="row col-md-12">
                  <div class="col-md-4">
                    <a class="text-theme-colored font-weight-600 font-12" href="{% url 'announcement_detail' announcement.announcement_id %}"> View
                      Details →</a>
                  </div>
                  <div class="col-md-8">
                    <p class="mb-5 text-gray-darkgray" style="float:right;"><i
                        class="fa fa-clock-o mr-5 text-theme-colored2"></i>Posted :
                      {{announcement.updated_at|timesince}} ago</p>
                  </div>
                </div>
              </div>
              <hr>
              {% endfor %}
            </div>
          </div>
        </div>
    </section>
</div> 

 <section id="faculties" class="container mb-50">
  <div class="col-md-12 pt-30">

    <div class="row">

      <div class="col-md-5">
        <div class="col-md-9" style=" border: black 1px solid; font-size: 1.5em; text-align: center; ">OUR FACULTIES
          & SCHOOLS
        </div>
        <div class="col-md-12 wow slideInUp" data-wow-duration="1.5s" data-wow-offset="10">
          <h2 style="font-family: sans-serif; text-align: justify;">Advancing knowledge and innovation for a better world</h2>
        </div>

      </div>
      <div class="col-md-7">
        <div class="col-md-12 wow slideInUp" data-wow-duration="1.5s" data-wow-offset="10">
          <p style="font-family: sans-serif; font-size: 17px; text-align: justify;">We value excellence in teaching,
            learning, research and support services while recognizing the needs and rights of others in all aspects of
            the University’s
            operations, and fulfill their employment obligations both in spirit and in fact.</p>
            <a href="{% url 'faculties' %}" class="hvr-shutter-out-horizontal btn btn-dark btn-sm btn-theme-colored btn-flat font-14">View all faculties</a>
      
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-12">
    <div class="row  wow slideInRight text-white" data-wow-duration="1.5s" data-wow-offset="10">
      {% for faculty in faculties %}
      <div class="col-md-4 mb-10" style="background-color: aliceblue;">
        <div class="col-md-12" style="background-color: #2eb135">
         <a href="{% url 'faculty_details' faculty.faculty_id %}"> <h3 class="text-white text-center" style="font-family: sans-serif;">{{faculty.faculty_name}}</h3></a>
        </div>
        <div class="feature-item " style="width: 100%;">
          <div class="thumb">
            {% if not faculty.faculty_image%}

           <p>{{faculty.faculty_name}} Image </p>

           {% else %}

            <img src="{{faculty.faculty_image.url}}" alt="" style="height: 200px;"
              class=" img-responsive img-fullwidth">
           {% endif %}
          </div>
        </div>
        <div class="col-md-12 pl-0" style="padding-top:10px;">
          <p style="font-size: 15px; color: #444141;">{{faculty.faculty_description|truncatewords:25}}</p>
        </div>
        <div>
          <a href="{% url 'faculty_details' faculty.faculty_id %}" class="hvr-shutter-out-horizontal btn btn-dark btn-theme-colored btn-flat">Learn More</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
 
  </section>

<div class="covid-alert mb-20 mt-10">
    <p class="text">SEXUAL MISCONDUCT AND HARASSMENT INFORMATION:  <a  href="{% url 'gbv' %}">Click here for the latest information</a>
    </p>  
</div>

  <section class="container">
    <div class="col-md-12  pb-sm-40">
    <div class="section-title">
    <div class="col-md-12">
    <h2 class="text-uppercase title">Latest <span class="text-theme-colored2">News</span></h2><span> <a href="{% url 'newsandevents' %}" class="font-16" style="color:blue">Read more...</a>
      </span>
    </div>
    </div>
    <div class="section-content">
    <div class="row">
    <div class="col-md-12 col-sm-12">
    <div class="owl-carousel-3col owl-nav-top" data-nav="true">
    {% for new in news %}
    <div class="item">
    <article class="post maxwidth400 border-1px mb-30">
    <div class="entry-header">
    <div class="post-thumb thumb">
      <a href="{% url 'newsdetail' new.news_id %}">
        <img src="{{new.news_photo.url}}" alt="" class="img-responsive img-fullwidth" style="height: 220px;">
      </a>
    </div>
    </div>
    <div class="entry-content bg-white p-20">
    <div class="entry-meta">
      <ul class="list-inline font-12 mb-10">
        <li><i class="fa fa-users text-gray mr-5"></i>Tag: Public </li>
        <li class="" style="float: right;"><i class="fa fa-clock-o mr-5"></i> {{ new.updated_at|timesince }} ago</li>
      </ul>
    </div>
    <h4 class="entry-title font-weight-600 letter-space-1 mt-5 mb-10"><a href="{% url 'newsdetail' new.news_id %}" class="text-theme-colored">{{new.news_title}}</a></h4>
    <p class="mb-0">{{new.news_body|truncatewords:15}}</p>
    </div>
    <div class="entry-meta p-15 pt-10 pb-5 bg-silver-light border-bottom-theme-colored2">
    </div>
    </article>
    </div>
    {% endfor %}
    </div>
    </div>
    </div>
    </div>
    </div>
  </section>

<section id="about" class="container mb-50">
  <div class="container col-md-12">
  <h2 class="text-uppercase text-center" style="font-size: 42px; font-family: sans-serif;">Join our <span
          class="text-theme-colored2">Campaign</span></h2>
           <div class="line-bottom-centered"></div> 
           
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-uppercasetext-theme-colored mt-0">LUANAR<span class="text-theme-colored2">4MoreImpact</span>
          </h2>
          <div class="diamond-line-left-theme-colored-2"></div>
          <p>L4MI is about having a deep conversation on how we can further enhance the life and quality of LUANAR students and graduates, and how we can play a more impactful role in Malawi's 2063 Agenda.
            <a class="text-theme-colored2 font-13 ml-5" href="{% url 'luanar4moreimpact' %}">read more →</a>
          </p>
          <div class="row">
            <div class="col-md-6">
              <h4 class="font-weight-600">Our Mission</h4>
              <p style="text-align: justify;">
                L4MI is about leveraging the much needed resources so that together we ascend to transform the agricultural and natural resources sectors for wealth creation and improved livelihoods – for the young and the old.
                 </p>
              <a href="{% url 'luanar4moreimpact' %}" class="hvr-shutter-out-horizontal btn btn-theme-colored2 btn-flat btn-sm mt-10 mr-15 mb-sm-20">Read more</a>
            </div>
            <div class="col-md-6">
              <h4 class="font-weight-600">Our Vission</h4>
              <p>
                Host collaborative workshops involving diverse stakeholders to brainstorm and refine ideas for LUANAR's mission statement. Encourage participants to express their aspirations for the university's role in the community.

              </p>
              <a href="{% url 'luanar4moreimpact' %}" class="hvr-shutter-out-horizontal btn btn-theme-colored2 btn-flat btn-sm mt-10" >Read more</a>
            </div>
          </div>
        </div>
      
        <div class="col-md-6">
              <div class="img-fluid">
                {% for luanar4moreimpact in luanar4moreimpacts %}
                <img class="img-fullwidth img-fluid" src="{{luanar4moreimpact.luanar4more_photo.url}}" style="height: 400px; width: 100%;" alt="project">
                {% endfor %}
          </div>
        </div>
      </div>
  </div>
   </section>

    <div class="col-md-12 col-lg-12 bg-theme-colored2">
      <div class="row ">
        <div class="call-to-action sm-text-center">
          <div class="col-md-7">
            <h2 class="text-white text-uppercase mt-0">Subscribe to our Newsletter!</h2>
          </div>
          <div class="col-md-5">

            <form id="mailchimp-subscription-form-footer" class="newsletter-form mt-5 pt-2">
              <div class="input-group">
                <input value name="EMAIL" placeholder="Enter your Email" class="form-control input-lg font-16"
                  data-height="45px" id="mce-EMAIL-footer" style="height: 45px;" type="email">
                <span class="input-group-btn">
                  <button data-height="45px" class="btn btn-theme-colored text-white btn-xs m-0 font-14" type="submit"
                    style="height: 45px;">Subscribe</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}