{% extends "main.html" %}
{% load static %}
{% block content %}
<section class="inner-header divider layer-overlay overlay-dark-4" data-bg-img="{% static 'images/bg/about.jpg' %}">
  <div class="container pt-120 pb-60">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-theme-colored2 text-center" style="font-family: sans-serif; font-size: 46px;">NEWS & EVENTS
          </h2>
          <ol class="breadcrumb text-left mt-10 white">
            <li><a href="{% url '' %}">LUANAR</a></li>
            <li><a href="#">UPDATES</a></li>
            <li class="active">NEWS</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <div class="col-md-9" style="padding-top: 7px;">
      <div class="single-service">
        <h3 class="line-bottom">
          News
        </h3>
      </div>
      <div class="section-content pb-20">
        <div class="row">
        {% for new in page %}
        <div class="col-md-12" style="padding-bottom: 30px;">        
          <div class="row">
            <div class="col-md-4">
              <img  alt="" src="{{new.news_photo.url}}" style="border-radius: 10px;"  width="275" height="200">
            </div>
            <div class="col-md-8 " style="text-align: justify; font-size: 14px; margin-top: -20px;">
             <a href="{% url 'newsdetail' new.news_id %}">
               <h3 style="color: #2eb125;">{{new.news_title}}</h3></a>
              <p>{{new.news_body|truncatewords:40}}</p>
              <a href="{% url 'newsdetail' new.news_id %}"
              class="hvr-shutter-out-horizontal btn btn-sm btn-dark  btn-theme-colored btn-flat">READ MORE</a><span style="float: right;"><b>Posted:</b>  {{ new.updated_at|timesince }}
                ago</span>
            </div>
          </div>
            </div>

        {% endfor %}
      </div>

    </div>
    <div class="container mb-30">
      {% if page.has_previous %}
      <a class="btn btn-outline-primary" style="background-color:  rgb(204, 207, 207);" href="?page=1">First</a>
      <a class="btn btn-outline-primary" style="background-color:  rgb(204, 207, 207);"
        href="?page={{ page.previous_page_number }}">Previous</a>
      {% endif %}
      {% for num in page_range %}
      {% if num == page.number %}
      <span class="btn btn-primary" style="background-color:  rgb(204, 207, 207);">{{ num }}</span>
      {% else %}
      <a class="btn btn-outline-primary" style="background-color: rgb(204, 207, 207);" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
      {% endfor %}
      {% if page.has_next %}
      <a class="btn btn-outline-primary" style="background-color: rgb(204, 207, 207);"
        href="?page={{ page.next_page_number }}">Next</a>
      <a class="btn btn-outline-primary" style="background-color: rgb(204, 207, 207);"
        href="?page={{ page.paginator.num_pages }}">Last</a>
      {% endif %}

    </div>

  </div>
  <div class="col-md-3">

    <h3 class="widget-title mt-30" style="font-family: sans-serif;">
      <i class="text-theme-colored"></i>Quick
      <span class="text-theme-colored2">Links</span>
    </h3>

    <ul class="nav nav-stacked nav-pills nav-sidebar"
      style="background-color: rgb(205, 218, 211); border-radius: 10px;">
      <li> <a href="{% url 'newsandevents' %}">News</a></li>
      <li> <a href="{% url 'announcements' %}">Announcements</a></li>
      <li> <a href="{% url 'events' %}">Events</a></li>
      <li> <a href="{% url 'researchandoutreach' %}">Research & Outreach</a></li>
      <li> <a href="{% url 'vacancies' %}">Vacancies</a></li>
      <li> <a href="{% url 'studentclubsandsociety' %}">Sports & Recreation</a></li>
      <li> <a href="{% url 'popularvideos' %}">Popular Videos</a></li>
    </ul>
    <div class="col-md-12">
      <div class="card mb-sm-30 bg-white pb-20 " style="border-bottom:#2eb135 3px solid; ">
        <img src="/static/images/about/cr1.jpg" class="card-img-top"
            style="padding-top: 15px;" alt="...">
        <div class="card-body">
            <h3 class="font-weight-600 mt-20 text-center"><a href="{% url 'studentclubsandsociety' %}">SPORTS AND RECREATION</a>
            </h3>
            <p class="card-text" style="text-align: justify">Clubs have been offering sporting opportunities for student
                cohort for many years. Membership is open to students, staff and alumni.
                Sporting clubs compete in local, regional...</p>
            <a href="{% url 'studentclubsandsociety' %}"
                class="hvr-shutter-out-horizontal btn btn-sm btn-dark  btn-theme-colored btn-flat">READ
                MORE</a>
        </div>
    </div>
    </div>
    
  </div>

  </div>
</section>
{% endblock content %}