{% extends "main.html" %}
{% load static %}
{% block content %}
<section class="inner-header divider layer-overlay overlay-dark-4" data-bg-img="{% static 'images/bg/about.jpg' %}">
  <div class="container pt-120 pb-60">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-white text-center" style="font-family: sans-serif; font-size: 46px;">LUANAR IN NEWS
          </h2>
          <ol class="breadcrumb text-left mt-10 white">
            <li><a href=" url '' ">LUANAR</a></li>
            <li class="active">News</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-4">
        <div class="sidebar sidebar-left mt-sm-30">

          <h3 class="text-uppercase" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            Quick <span class="text-theme-colored2">Links</span>
          </h3>

          <ul class="nav nav-pills nav-stacked nav-sidebar"
            style="background-color: rgb(205, 218, 211); border-radius: 10px;">
            <li>
              <a href="{% url 'announcements' %}">Announcements</a>
            </li>
            <li>
              <a href="{% url 'events' %}">Upcoming Events</a>
            </li>
            <li>
              <a href="{% url 'immigration' %}">Immigration information</a>
            </li>
            <li>
              <a href="{% url 'feesandfunding' %}">Fees & Funding</a>
            </li>
            <li>
              <a href="{% url 'safetyoncampus' %}">Campus Life</a>
            </li>
            <li>
              <a href="{% url 'accommodation' %}">Accommodation</a>
            </li>

          </ul>

          <div class="col-md-12 pt-20 pb-30 ">
            <div class="card mb-sm-30 bg-white pb-5" style="border-bottom:#2eb135 3px solid;">
              <img src="{% static 'images/about/cr1.jpg' %}" class="card-img-top" style="padding-top: 15px;" alt="...">
              <div class="card-body ">
                <h5 class="card-title font-weight-700 font-18 mt-20">Admission</h5>
                <p class="card-text" style="text-align: justify;">LUANAR is a dynamic and vibrant community of learning
                  that brings together
                  administrators, academic staff and students from Malawi and abroad in an effort to provide sound...
                </p>
                <a href="{% url 'howtoapply' %}"
                  class="hvr-shutter-out-horizontal btn btn-sm btn-dark  btn-theme-colored btn-flat">READ MORE</a>
              </div>
            </div>
          </div>

          <h3 class="widget-title mt-30" style="font-family: sans-serif;">
            <i class="text-theme-colored"></i>Upcoming
            <span class="text-theme-colored2">Events</span>
          </h3>
          {% for event in events %}
                              <article>
                                <div class="event-block">
                                <div class="event-date text-center">
                                <ul class="text-white font-18 font-weight-600">
                                <li class="border-bottom">{{ event.date|date:"d" }}</li>
                                <li class>{{ event.date|date:"M" }}</li>
                                </ul>
                                </div>
                                <div class="event-meta border-1px pl-40">
                                <div class="event-content pull-left flip">
                                <h4 class="event-title media-heading font-roboto-slab font-weight-700"><a href="{% url 'eventsdetail' event.event_id %}">{{event.event_title}}</a></h4>
                                <span class="mb-10 text-gray-darkgray mr-10"><i class="fa fa-clock-o mr-5 text-theme-colored2"></i> at {{event.start_time}} - {{event.end_time}}</span>
                                <span class="text-gray-darkgray"><i class="fa fa-map-marker mr-5 text-theme-colored2"></i>{{event.venue}}</span>
                              
                                </div>
                                </div>
                                </div>
                                </article>
        {% endfor %}
        </div>
      </div>

      <div class="col-md-8 blog-side">
        <div style="text-align: justify; border-bottom:#2eb135 3px solid;">
          <p style="text-align: justify; font-size: 16px;color: rgb(0,124,187);"><b>{{new.news_title}}</b></p>
          <p><b>Posted:</b> {{new.updated_at|date:"F d, Y"}} <span style="float: right;"> <b>Posted By:</b> {{ added_by_user.get_full_name }}</span>
          </p>
            <div class="col-md-8" style="float: right; margin-left: 10px;"> <img src="{{new.news_photo.url}}" class="img-fluid img-responsive"
              style=" width: 100%;" alt="" />
                <div class="news-image-caption" style="font-size: 16px;">
                  {% if not new.photo_description %}
  
                  {% else %}
                  <div class="col-md-12">
                               <footer class="blockquote-footer">PIC:<cite title="Source Title" style="font-size: 14px;"> {{new.photo_description}}</cite></footer>
                  </div>
                  <h4 style="padding-top: 10px; text-align: justify;"> </h4>
                  {% endif %}
                </div>
            </div>
            <div style="text-align: justify; font-size: 15px;">
              {% if not new.news_subtitle %}

              {% else %}
              <p style="padding-top: 10px; text-align: justify;"><b>{{new.news_subtitle}}</b></p>
              {% endif %}

               <div style="padding-top: 10px; text-align: justify; font-size: 16px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            <p>
              {% autoescape off %}
              {{new.news_body|linebreaks}}
              {% endautoescape %}

            </p>
          </div>
            </div>
          

        </div>

    </div>

    </div>
  </div>
  </div>
</section>
<section class="container">

  <h3 class="margin-bottom-25">Related News</h3>
  <ul class="row news-list">
    {% for new in news %}
    <li class="col-sm-6 col-md-3 margin-bottom-20 equal-height">
      <a class="overlay" href="{% url 'newsdetail' new.news_id %}">
        <div class="feature-item">
          <div class="thumb">
            <img src="{{ new.news_photo.url }}" class="img-fluid  feature-item" style="height: 150px; width:100%;" alt>
          </div>
        </div>
        <div class="bg-dark" style="background-color: rgb(87, 84, 84);">
          <div class="desc inherit-position"
            style="text-align: justify; padding: 0 10px 10px 10px; margin-bottom: 10px;">
            <p class="date text-white text-center">Date: {{new.updated_at|date:"F d, Y"}}</p>
            <h4 class="min-height text-white">{{new.news_title|truncatewords:10}}</h4>
          </div>
        </div>

      </a>
    </li>
    {% endfor %}
  </ul>

</section>


{% endblock content %}