{% extends "main.html" %}
{% load static %}

{% block content %}
<section
  class="inner-header divider layer-overlay overlay-dark-4"
  data-bg-img="{% static 'images/bg/about.jpg' %}"
>
  <div class="container pt-120 pb-60">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-theme-colored2 text-uppercase text-center" style="font-size: 46px; font-family: sans-serif;">luanar | Policies</h2>
          <ol class="breadcrumb text-left mt-10 white">
            <li><a href=" url '' ">LUANAR</a></li>
            <li><a href=" url 'about' ">About</a></li>
            <li class="active">Policies</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-content">
 
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div>
                <h2 class="text-theme-colored2">LUANAR Policies</h2>

                </div>

           <p style="font-size: 16px; text-align: justify;">At the heart of our institution lies a commitment to fostering an environment of excellence, integrity, and inclusivity. Our policies serve as the cornerstone of this commitment, providing the framework that guides our community members in their academic, professional, and personal endeavors. From academic integrity to campus safety, from diversity and inclusion to research ethics, our policies reflect our dedication to upholding the highest standards of conduct and ensuring a supportive and equitable environment for all.</p>
          <div class="font-15" style="font-family: Arial, Helvetica, sans-serif">
              <h2 class=""><i class="fa fa-home"></i>  &nbsp;Accommodation</h2>
              <hr>
            <ul class="list-icon">
                <li ><i class="fa fa-download"></i><a href="#">Placement of students in University-owned residences</a></li>
            
            </ul>

            <h2 class=""><i class="fa fa-graduation-cap"></i>  &nbsp;Student Administration</h2>
            <hr>
          <ul class="list-icon">
              <li ><i class="fa fa-download"></i><a href="#">Placement of students in University-owned residences</a></li>
          
          </ul>
          <h2 class=""><i class="fa fa-users"></i>  &nbsp;Human Resources</h2>
          <hr>
        <ul class="list-icon">
            <li ><i class="fa fa-download"></i><a href="#">Placement of students in University-owned residences</a></li>
           
        </ul>

          
          </div>
        </div>
   
    </div>
  </div>
</section>

{% endblock content %}