{% extends "main.html" %} {% load static %} {% block content %}
<section class="inner-header divider layer-overlay overlay-dark-4" data-bg-img="{% static 'images/bg/about.jpg' %}">
  <div class="container pt-120 pb-60">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-white text-center" style="font-family: sans-serif; font-size: 46px;">LUANAR | PROGRAMS</h2>
          <ol class="breadcrumb text-left mt-10 white">
            <li><a href=" url '' ">LUANAR</a></li>
            <li><a href="#">PROGRAMS</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container mt-10 mb-30 pt-10 pb-30">
    <div class="row">
      <div class="col-md-12">
        <div class="single-service">
           <h3 class="mt-30 mb-10"  style="font-family:'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">
            {{program.program_name}}
          </h3>
          <div class="double-line-bottom-theme-colored2 mt-10"></div>

          <div class="row"  style="font-family:'Merriweather Sans', sans-serif;">
            <div class="col-md-6">
             <div>
              {% if not program.program_image %}

              {% else %}
              <img src="{{program.program_image.url}}" alt="Program Image" class="img-fluid img-responsive" srcset="">

              {% endif %}
             </div>
            </div>
            <div class="col-md-6">
              <div>
                  <p><b style="color: rgb(0, 124, 187);">Faculty</b><br>
                   <a href="{% url 'faculty_details' faculty.faculty_code %}">{{faculty.faculty_name}}</a> 
                  </p>
              </div>
           <div>
              <p><b style="color: rgb(0, 124, 187);">Department</b><br>
              <a href="{% url 'department_details' department.department_id %}">  {{department.department_name}}</a>
              </p>
           </div>
            <hr>
            <div class="row">
              <div class="col-md-6" style="border-left: #2eb135 2px solid;">
                <p><b style="color: rgb(0, 124, 187);">Duration</b><br>
                  {{program.duration}} Years
                </p>
              </div>
              <div class="col-md-6" style="border-left: #2eb135 2px solid;">
                <p ><b style="color: rgb(0, 124, 187);">Level</b><br>
                  {{program.programnature_name}}
                </p>
              </div>
            </div>
            </div>
          </div>
          <ul id="myTab" class="nav nav-tabs mt-30">
            <li class="active">
              <a href="#tab1" data-toggle="tab">Requirements</a>
            </li>
            <li><a href="#tab4" data-toggle="tab">Program Details</a></li>
            <li><a href="#tab2" data-toggle="tab">Fees Structure</a></li>
            <li><a href="#tab3" data-toggle="tab">Prospects</a></li>
          </ul>
          <div id="myTabContent" class="col-md-12">
            <div class="tab-pane fade in active" id="tab1">
              <p>
                {{program.requirement}}
              </p>
            </div>
            <div class="tab-pane fade" id="tab2">

             {% if program.programnature_name_id == 1 %}
             <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
             
             <p>
              MK600,000.00
             </p>
                </div>
                <div class="col-md-6">
            <p>sdfgf fdbgdfb fgbfdb</p>
                </div>
              </div>
              
             </div>

             {% else %}
  Hey Hey

             {% endif %}



<!--              
              <ul class="course-info-list font-14 mt-20">
                <li>
                  <span class="course-info-title">
                    <i
                      class="pe-7s-date font-26 vertical-align-middle text-theme-colored2 mr-10"
                    ></i
                    >Program Duration:</span
                  >
                  <span class="course-info-details">{{program.duration}}</span>
                </li>
                <li>
                  <span class="course-info-title">
                    <i
                      class="pe-7s-timer font-26 vertical-align-middle text-theme-colored2 mr-10"
                    ></i
                    >Department:</span
                  >
                  <span class="course-info-details">{{department.department_name}}</span>
                </li>
              </ul> -->
            </div>
            <div class="tab-pane fade" id="tab3">
             <div style="text-align: justify;">
              {% autoescape off %}
                
              {{program.prospects|linebreaks}}
              
              {% endautoescape %} 
             </div>
              </div>
              <div class="tab-pane fade" id="tab4">
                <div  style="text-align: justify;">
                 
                    {% autoescape off %}
                    
                    {{program.program_description|linebreaks}}
                    
                    {% endautoescape %} 
              
                </div>
              
                </div>
          </div>
        </div>
      </div>

<!--       
      <div class="col-sm-12 col-md-4">
        <div class="sidebar sidebar-left mt-sm-30 ml-30 ml-sm-0">
     
            <h4 class="widget-title line-bottom mt-10" style="font-family:  'Merriweather Sans', sans-serif; font-weight: bold;">
              Quick 
              <span class="text-theme-colored2">Links</span>
            </h4>
           
            <ul class="nav  nav-stacked  nav-pills nav-sidebar" style="background-color: rgb(205, 218, 211); border-radius: 10px;">
                <li> <a href="{% url 'undergraduateprograms' %}" >Undergraduate Programs</a ></li>
                 <li> <a href="{% url 'postgraduateprograms' %}" >Postgraduate Programs</a ></li>
               <li> <a href="{% url 'howtoapply' %}">How to Apply</a ></li>
                <li> <a href="{% url 'internationalstudents' %}" >International Students</a ></li>
            </ul>
        </div>
       
      </div> -->
    </div>
  </div>
</section> {% endblock content %}
