{% extends "main.html" %}
{% load static %}

{% block content %}
<section class="inner-header divider layer-overlay overlay-dark-4" data-bg-img="{% static 'images/bg/about.jpg' %}">
    <div class="container pt-40 pb-20">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-white text-uppercase text-center" style="font-family: sans-serif; font-size: 38px;"> LUANAR | Vacancies</h2>
            <ol class="breadcrumb text-left mt-10 white">
              <li><a href=" url '' ">LUANAR</a></li>
              <li><a href="#">Vacancies</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
</section>

</div>
</section>
<section>
    <div class="container pt-0">
        <div class="row">
            <div class="col-sm-12 col-md-4">
              <h3 class="widget-title mt-30" style="font-family:  'Merriweather Sans', sans-serif; font-weight: bold;">
               Quick
                <span class="text-theme-colored2">Links</span>
              </h3>
              <ul class="nav nav-stacked nav-pills nav-sidebar" style="background-color: rgb(205, 218, 211); border-radius: 10px;">
                <li><a href="{% url 'office_of_hr' %}">Office of Human Resources</a></li>
                <li><a href="{% url 'newsandevents' %}">News and Events</a></li>
                <li><a href="{% url 'downloads' %}">Downloads</a></li>
                <li><a href="{% url 'about' %}">About Luanar</a></li>
                <li><a href="{% url 'office_of_doqa' %}">Office of Quality Assurance</a></li>
              </ul>
                <div class="sidebar sidebar-left mt-sm-30 pt-20">
                  <div class="widget">
                    <h3 class="widget-title" style="font-family:  'Merriweather Sans', sans-serif; font-weight: bold;">
                      Latest <span class="text-theme-colored2">Annoucements</span>
                    </h3>
                      {% for announcement in announcements %}
                      <div class="col-md-12 " style=" border-left: 5px solid; background-color: #f7f7f3f1; margin-bottom: 5px;">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                        <a href="{% url 'announcement_detail' announcement.title %}"><h4>{{announcement.title}}</h4></a>
                        </div>
                        <div class="row ">
                          <div class="col-md-5">
                            <a class="text-theme-colored font-weight-600 font-12" href="{% url 'announcement_detail' announcement.title %}"> View
                              Details →</a>
                          </div>
                          <div class="col-md-7">
                            <p class="mb-5 text-gray-darkgray mr-5"><i
                                class="fa fa-clock-o mr-5 text-theme-colored2"></i>
                              {{announcement.updated_at|timesince}} ago</p>
                          </div>
                        </div>
                      </div>
                      <hr>
                      {% endfor %}
                    </div>
                </div>
              </div>
            <div class="col-md-8">
              <div class="single-service">
                <h3 class="text-uppercase text-theme-colored" style="font-family:  'Merriweather Sans', sans-serif; font-weight: bold;">
                 Vacancies
                </h3>
              </div>
                {% for vacancy in page %}
                <div class="col-md-12" style="padding-bottom: 10px;">
                  <div class="col-md-12 pb-5" style = "border-bottom: 2px solid #2eb135; border-right: 2px solid #2eb135">

                     <a href="{% url 'vacancy_details' vacancy.vacancy_id vacancy.position %}" ><h3 class="icon-box-title pt-15 mt-0" style="font-weight: 400px; color: rgb(0, 124, 187); font-family:  'Merriweather Sans', sans-serif;">{{vacancy.position}}</h3></a>
                     
                     <div>
                       <p style="text-align: justify; font-size: 16px;">{{vacancy.job_description|truncatewords:46}}</p>
                       <a href="{% url 'vacancy_details' vacancy.vacancy_id vacancy.position %}" class="hvr-shutter-out-horizontal btn btn-sm btn-dark  btn-theme-colored btn-flat">View details</a>
               
                     </div>
                  </div>
                   
                   </div>
                {% endfor %}
                <div class="col-md-12 mb-30 mt-20" >
                  {% if page.has_previous %}
                  <a class="btn btn-xs btn-outline-primary" style="background-color:  rgb(204, 207, 207);" href="?page=1">First</a>
                  <a class="btn btn-xs btn-outline-primary" style="background-color:  rgb(204, 207, 207);" href="?page={{ page.previous_page_number }}">Previous</a>
              {% endif %}
              {% for num in page_range %}
                  {% if num == page.number %}
                      <span class="btn btn-xs btn-primary" style="background-color:  rgb(204, 207, 207);">{{ num }}</span>
                  {% else %}
                      <a class="btn btn-xs btn-outline-primary" style="background-color: rgb(204, 207, 207);" href="?page={{ num }}">{{ num }}</a>
                  {% endif %}
              {% endfor %}
              {% if page.has_next %}
                  <a class="btn btn-xs btn-outline-primary" style="background-color: rgb(204, 207, 207);" href="?page={{ page.next_page_number }}">Next</a>
                  <a class="btn btn-xs btn-outline-primary" style="background-color: rgb(204, 207, 207);" href="?page={{ page.paginator.num_pages }}">Last</a>
              {% endif %}
              
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}