{% extends "main.html" %}
{% load static %}

{% block content %}
<section class="inner-header divider layer-overlay overlay-dark-4" data-bg-img="{% static 'images/bg/about.jpg' %}">
    <div class="container pt-40 pb-20">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-theme-colored2 text-uppercase text-center " style="font-family: sans-serif; font-size: 46px;">LUANAR | Vacancies</h2>
            <ol class="breadcrumb text-left mt-10 white">
              <li><a href=" url '' ">LUANAR</a></li>
              <li class="active">Vacancies</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
</section>


<section>
    <div class="container pt-0">
        <div class="row">
           

            <div class="col-md-9">
                <div class="heading-line-bottom mt-0 mb-30">
                    
                </div>

                <div class="icon-box mb-0 p-0">

                <div>
                  <h3><b>Position</b></h3>
                  <h3 class="icon-box-title mb-10" style="font-weight: 400px; color: rgb(0, 124, 187); font-family:  'Merriweather Sans', sans-serif;">{{vacancy.position}}</h3>
                  <hr>
                </div>
                    
                     <h4><b>Job description</b></h4>
                     <div style="text-align: justify; font-size: 16px;">
                      <p>{{vacancy.job_description}}</p>

                      <h4><b>Requirements</b></h4>
<ul>
  {% autoescape off %}
   <li>{{vacancy.requirements|linebreaks}}</li> 
  {% endautoescape %}
</ul>
                   
 
                     </div>
                    
                   
                     <h4>Mode of Application</h4>
                    </div>
                    {% if not vacancy.vacancy_file %}
                    

                    {% else %}
                    <a href="{{vacancy.vacancy_file.url}}" class="hvr-shutter-out-horizontal btn btn-sm btn-dark  btn-theme-colored btn-flat"><i class="fa fa-download fa-lg"></i>&nbsp; Download pdf</a>
              
                    {% endif %}
             
                 <hr>
            </div>
            <div class="col-sm-12 col-md-3">
              <h3 class=" mt-30">
                <i class="text-theme-colored"></i>Quick
                <span class="text-theme-colored2">Links</span>
              </h3>
              <ul class="nav nav-stacked nav-pills nav-sidebar" style="background-color: rgb(205, 218, 211); border-radius: 10px;">
                <li><a href="{% url 'office_of_hr' %}">Office of Human Resources</a></li>
                <li><a href="{% url 'newsandevents' %}">News and Events</a></li>
                <li><a href="{% url 'downloads' %}">Downloads</a></li>
                <li><a href="{% url 'about' %}">About Luanar</a></li>
                <li><a href="{% url 'office_of_doqa' %}">Office of Quality Assurance</a></li>
              </ul>
                <div class="sidebar sidebar-left mt-sm-30 pt-20">
                  <div class="widget">
                    <h3>
                      Featured <span class="text-theme-colored2">Staff</span>
                    </h3>
                    <div class="col-md-12">
                      <div class="card mb-sm-30 bg-white" style="border-bottom:#2eb135 4px solid;">
                        <a href="#"><img src="/static/images/about/cr1.jpg" class="card-img-top" style="padding-top: 15px;"
                          alt="...">
                        <div class="card-body ">
                         <h3 class="card-title font-weight-700 mt-20">D. Mpando</h3>
                          <h4 class="card-title font-weight-700 font-16 mt-20">Human Resources Manager</h4></a>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
                 

        </div>
    </div>
</section>
{% endblock content %}