{% extends "main.html" %}
{% load static %}

{% block content %}
<section class="inner-header divider layer-overlay overlay-dark-4" data-bg-img="{% static 'images/bg/about.jpg' %}">
    <div class="container pt-40 pb-20">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-white text-center text-uppercase" style="font-size: 48px; font-family: sans-serif;">Fees and Funding</h2>
            <ol class="breadcrumb text-left mt-10 white">
              <li><a href=" url '' ">LUANAR</a></li>
              <li class="active">Fees & Funding</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
</section>




{% endblock content %}