{% extends "main.html" %}
{% load static %}
{% block content %}
<section class="inner-header divider layer-overlay overlay-dark-4" data-bg-img="{% static 'images/bg/about.jpg' %}">
  <div class="container pt-40 pb-20">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-white text-center text-uppercase font-38" style="font-family:sans-serif;">International Students</h2>
          <ol class="breadcrumb text-left mt-10 white">
            <li><a href=" url '' ">LUANAR</a></li>
            <li><a href="#">International Students</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      
      <div class="col-sm-12 col-md-3">
        <div class="sidebar sidebar-left mt-sm-30">
            
            <h3 class="widget-title" style="font-family:  'Merriweather Sans', sans-serif; font-weight: bold;">
                QUICK <span class="text-theme-colored2">LINKS</span>
            </h3>

            <ul class="nav nav-stacked nav-pills nav-sidebar"  style="background-color: rgb(205, 218, 211); border-radius: 10px;">
              <li>
                <a href="{% url 'about' %}"
                  >About us</a >
              </li>
              <li>
                <a href="{% url 'howtoapply' %}"
                  >How to Apply</a >
              </li>
              <li>
                <a href="{% url 'immigration' %}" 
                  >Immigration information</a >
              </li>
              <li>
                <a href="{% url 'feesandfunding' %}"
                  >Fees & Funding</a >
              </li>
              <li>
                <a href="{% url 'campus_life' %}"
                  >Campus Life</a >
              </li>
              <li>
                <a href="{% url 'accommodation' %}" 
                  >Accommodation</a >
              </li>
             
            </ul>
       
        <div class="col-md-12 pt-10">
          <div class="card mb-sm-30 bg-white pb-20" style="border-bottom:#2eb135 5px solid;">
            <img src="{% static 'images/about/cr1.jpg' %}" class="card-img-top" style="padding-top: 15px;"
              alt="...">
            <div class="card-body ">
              <h5 class="card-title font-weight-700 font-18 mt-20">Admission</h5>
              <p class="card-text" style="text-align: justify;">LUANAR is a dynamic and vibrant community of learning that brings together
                administrators, academic staff and students from Malawi and abroad in an effort to provide sound...
              </p>
              <a href="{% url 'howtoapply' %}"
                class="hvr-shutter-out-horizontal btn btn-sm btn-dark  btn-theme-colored btn-flat">READ MORE</a>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-9 blog-pull-right">

        <div class="single-service" style="font-size: 15px;">
          <div class="page-bannerpt-20">
            <h2 class="text-theme-colored" style="font-family:  'Merriweather Sans', sans-serif; font-weight: bold;">INTERNATIONAL STUDENTS</h2>

        </div>
        <!-- blog-box Banner -->
                        <div style="text-align: justify;">

                            <div class="col-md-6" style="float: right; margin-left: 10px;"> <img src="{% static 'images/about/cr1.jpg' %}" class="img-fluid img-responsive pb-10"
                                style=" width: 100%;" alt="" />
                               
                              </div>

                            <div style="text-align: justify; font-size: 15px;">
                                <p style="text-align: justify; font-size: 16px;">
                                  LUANAR is delighted to extend the warmest welcome to our international students, who bring a wealth of cultural diversity and global perspectives to our campus. Your presence enriches our academic community, fostering a vibrant environment of cross-cultural exchange and collaboration. We are committed to supporting you throughout your academic journey, offering services such as language support, cultural integration programs, and academic advising to ensure your success. LUANAR values the unique contributions each of our international students brings, and we are dedicated to creating a welcoming and inclusive environment where you can thrive. Welcome to LUANAR!
                                  LUANAR international student community is a diverse and vibrant group comprising students from various countries around the world. This community serves as a melting pot of cultures, fostering cross-cultural interactions and enriching the overall university experience.
                                </p>
                            </div>
                        </div>

        <div id="rs-about" class="rs-about  pt-20">
      
              <div class="mb-20 text-center">    
                <h3 class="text-uppercase" style="font-family:  'Merriweather Sans', sans-serif; color: #2eb135; font-weight: bolder; ">CAMPUS LIFE</h3>
             
              </div>
              <div class="row" style="font-size: 16px;">
                  <div class="col-lg-6 col-md-6" style="text-align: justify;">
                      <p >
                          At LUANAR, international students can look forward to a vibrant and enriching campus life. Our diverse community offers a range of cultural and social activities to help students connect with peers and explore new interests. The university's facilities, including libraries, sports complexes, and student lounges, provide spaces for both academic
                         and recreational pursuits.  Additionally, LUANAR's campus is situated in a beautiful natural setting, offering a peaceful and  
                         inspiring  </p>
                  </div>
                  <div class="col-lg-6 col-md-6" style="text-align: justify;">
                    <p >
                   environment for learning and growth. With a supportive community and a variety of activities to engage in, international students at LUANAR can make the most of their university experience.
                      Extracurricular Activities on Campus:
                    </p>

                    <div class="row">
                      <div class="col-md-6">
                        <ul >
                          <li><i class="fa fa-arrow-right"></i>&nbsp;Football</li>
                          <li><i class="fa fa-arrow-right"></i>&nbsp;Netball</li>
                          <li><i class="fa fa-arrow-right"></i>&nbsp;Basketball</li>
                          <li><i class="fa fa-arrow-right"></i>&nbsp;Tennis</li>
                      
                      </ul>
                   
                      </div>
                      <div class="col-md-6">
                        <ul >
                       
                          <li><i class="fa fa-arrow-right"></i>&nbsp;Hiking</li>
                          <li><i class="fa fa-arrow-right"></i>&nbsp;Excursions</li>
                          <li><i class="fa fa-arrow-right"></i>&nbsp;Games and Movie night</li>
                          <li><i class="fa fa-arrow-right"></i>&nbsp;Language clubs</li>
                      </ul>
                   
                      </div>
                    </div>
                  
                  </div>
              </div>
          </div>
        </div>

      </div>
    </div>

  <hr>
    <div class="page-bannerpt-20">
      <h2 class="text-theme-colored text-center" style="font-family:  'Merriweather Sans', sans-serif; font-weight: bold;">Orientation and Welcome Week Schedule</h2>
      <div class="line-bottom-centered"></div>
  </div>

  <div class="col-md-12" style="text-align: justify;">
    <div class="row" style="font-size: 16px;">
      <div class="col-md-6">
        <div class="col-md-12 pt-10 pb-10" style="text-align: justify; background-color: #e1e9e2;">
          LUANAR's international student orientation is a well-structured, five-day program designed to ensure a smooth transition for new students. The schedule begins with a warm welcome and campus tour, providing insights into the university's history and academic facilities. Subsequent days focus on academic guidance, cultural integration, and practical matters such as housing, healthcare, and transportation. 
        
        </div>
        
      </div>
      <div class="col-md-6">
 <div class="col-md-12 pt-10 pb-10" style="text-align: justify; background-color: #e1e9e2;">
   
  Throughout the week, students engage in interactive sessions, and social activities to foster connections with peers and university staff. With a balance of informative sessions and interactive experiences, LUANAR's orientation aims to equip international students with the knowledge and support needed for a successful academic journey and cultural integration. 
       
 </div>
    
      </div>
    </div>
  </div>
  <div class="page-banner">
    <div class="col-md-12 pt-20">
      <h2 class="text-theme-colored text-center " style="font-family:  'Merriweather Sans', sans-serif; font-weight: bold;">Transportation and Getting Around</h2>
      <div class="line-bottom-centered"></div>
      
    </div>
    <div class="row">
      <div class="col-md-6">

        <h3 class="text-center" style="font-family: 'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">
          School Bus Service
        </h3>
      <div style="text-align: justify;">
        LUANAR offers a school bus service that takes students around on designated days. This service provides a convenient way for students to explore the area and participate in off-campus activities. The bus schedule and routes are available at the International Office and campus information desk.
      </div>
      </div>
      <div class="col-md-6">
        <h3 class="text-center" style="font-family: 'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">
          Public Transportation
        </h3>
      <div style="text-align: justify;">
        LUANAR is well-connected to public transportation options, including buses and minibusses, which provide affordable and convenient ways to travel around the area. These services are easily accessible from the campus and can take you to various destinations in and around the city.  
      </div>

      </div>

      <div class="col-md-6">
        <h3 class="text-center" style="font-family: 'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">
         Local Travel Tips
        </h3>
      <div style="text-align: justify;">
        When using public transportation, it's advisable to have small denominations of cash for fare payment, as drivers often do not provide change. Additionally, buses and minibusses can get crowded during peak hours, so plan your travel accordingly. It's also recommended to keep an eye on your belongings and be mindful of your surroundings while traveling
      
      </div>

      </div>
      <div class="col-md-6">
        <h3 class="text-center" style="font-family: 'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">
         Safety and Security
        </h3>
      <div style="text-align: justify;">
        While Malawi is generally safe, it's important to take precautions when traveling, especially at night. Avoid walking alone in unfamiliar areas and keep your belongings secure. LUANAR also has security personnel on campus to ensure the safety of students and staff.
     
      </div>
      </div>
    </div>
</div>






<div class="page-banner">
  <div class="col-md-12 pt-20">
    <h2 class="text-theme-colored text-center " style="font-family:  'Merriweather Sans', sans-serif; font-weight: bold;">Contact the International Desk</h2>
    <div class="line-bottom-centered"></div>
    
  </div>
  <div class="col-md-12" style="text-align: justify; font-size: 16px;">
    <p>
    The International desk offers support and guidance for international students, sponsors, and other organizations over a range of university matters.
   <br>The International Desk  <b>:</b></p>
  
  <div class="row" >
    <div class="col-md-6">
      <ul >
       
        <li><i class="fa fa-arrow-right"></i>&nbsp;Guides international students in admission matters.</li>
        <li><i class="fa fa-arrow-right"></i>&nbsp;Leads on overseas recruitment activities and the conversion of international students
        </li>
     </ul>
    </div>
    <div class="col-md-6">    
      <ul>
        <li><i class="fa fa-arrow-right"></i>&nbsp;Arrange accommodation and airport pickup for international students</li>
        <li><i class="fa fa-arrow-right"></i>&nbsp;Assist international students with all immigration matters </li>
     </ul>
    </div>
  </div>
</div>

    <div class="col-md-6">
      <h3 class="text-center" style="font-family: 'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">
       Live Chat
      </h3>
    <div class="col-md-12" style="text-align: justify; font-size: 16px;">
      <p>
        Staff from the International Office are available to chat via on WhatsApp between 9am-11 am and 2 pm-4 pm CAT, Monday to Friday.
        Follow us on Facebook @ <a href="https://www.facebook.com/profile.php?id=100068309810278" style="color: blue;">Luanar International Student Admissions</a> or  <a href="https://www.facebook.com/profile.php?id=100068309810278" style="color: blue;">Luanar</a> for university information and updates.
        
      </p>
    
    </div>

    </div>
    <div class="col-md-6">
      <h3 class="text-center" style="font-family: 'Merriweather Sans', sans-serif; color: rgb(0, 124, 187);">
      Email Us
      </h3>
    <div class="col-md-12" style="text-align: justify; font-size: 16px;">
      <p>
        If you have any questions about studying at LUANAR, contact our International Office. 
       

        <ul style="font-size: 16px;">
          <li><i class="fa fa-envelope"></i>&nbsp; <a href="mailto:internationaldesk@luanar.ac.mw" style="color: blue;">internationaldesk@luanar.ac.mw</a></li>
          <li><i class="fa fa-envelope"></i>&nbsp; <a href="mailto:tmsowoya@luanar.ac.mw" style="color: blue;">tmsowoya@luanar.ac.mw</a> </li>
       </ul>
      </p>
    </div>
    </div>
  </div>
</div>


  </div>
</section>
{% endblock content %}
